<header class="relative h-screen overflow-hidden">
    <!-- Video Background -->
    <!-- <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full">
            <source src="assets/videos/career.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
    <div class="h-full w-full bg-[#000C25] absolute">

    </div>
    <!-- <div class="absolute inset-0 w-full h-full bg-black/60">

        </div> -->
    <!-- navigation -->
    <div id="header">
    </div>
    <app-header>
    </app-header>


    <!-- hero section -->
    <section class="container mx-auto lg:p-20 p-8 min-h-[80vh] flex items-center relative z-20 text-white ">

        <div>
            <h2 class="text-sm  2xl:text-xl text-white/70">
                <span class="uppercase"> </span> TheGAW
                <!-- Careers -->
            </h2>

            <h1 class="mt-5 text-2xl font-medium tracking-wide uppercase md:text-4xl 2xl:text-5xl 2xl:font-semibold">
                <!-- at TheGAW
                    industries -->

                Careers
            </h1>

        </div>
    </section>
</header>


<section class="bg-[#F6F6F7] lg:px-20 lg:py-10 p-8">

    <div class="container mx-auto text-sm">
        <h2 class="text-justify text-lg font-medium 2xl:text-2xl xl:text-xl text-primary">
            Build Your Career with TheGAW
        </h2>

        <p class="mt-2 text-justify tracking-wide 2xl:text-lg xl:text-base">
            At TheGAW, we're creating a workplace where passion meets purpose. We believe in empowering
            individuals to think boldly, act
            decisively, and grow personally and professionally. Ourjourney is shaped by the diverse ideas and
            talents of our team, and we're
            excited for you to bring your unique skills to the table.
        </p>
        <p class="mt-2 text-justify tracking-wide 2xl:text-lg xl:text-base">
            Whether you're stepping into your first role, exploring a new direction, or looking for a place where
            your contributions make a
            difference, TheGAW is the platform for growth and innovation. Join us in shaping a future of
            possibilities.
        </p>
        <p class="mt-3 text-justify tracking-wide 2xl:text-lg xl:text-base">
            If you're seeking an environment where your ideas matter, challenges inspire you, and growth is a part
            of
            every step, you'll thrive here.
        </p>
    </div>

</section>

<!-- opportunities -->
<section class="container p-8 mx-auto lg:px-20 lg:py-10">

    <h2 class="text-xl font-semibold text-primary md:text-2xl">
        Explore Opportunities
    </h2>

    <p class="mt-2 text-sm 2xl:text-lg">
        Browse our open positions to find a role that matches your aspirations.
    </p>

    <div class="mt-10 shadow-lg">
        <div class="grid p-10 border-b border-b-slate-300 md:grid-cols-2 gap-y-3">
            <h3 class="jobName text-lg font-medium md:text-xl text-primary 2xl:text-2xl w-[85%]">
                Sales and Business Development Roles
            </h3>

            <div>
                <p class="text-justify tracking-wide 2xl:text-lg">
                    We welcome resilient and open-to-learning incumbents to join our sales and business
                    development team in our dynamic industrial products and engineering services unit. As a key
                    member of our commercial team, you will leverage your domain expertise in Market
                    Development, Commercial Excellence and Technical Expertise in Tooling, Material, Fluid
                    Transfer Solutions, and Engineering Services. The role demands a strong commitment to
                    learning and achieving goals, excellent communication skills, and the ability to lead, coach,
                    and
                    collaborate effectively.
                </p>

                <p class="mt-3 text-sm text-gray-500 2xl:text-base">
                    Employment Type
                </p>

                <p class="mt-2 2xl:text-lg">
                    Permanent
                </p>

                <button class="mt-4" (click)="openModal('Sales and Business Development Roles')">
                    <img class="size-10" src="assets/images/icons/top.svg" alt="arrow">
                </button>
            </div>

        </div>
        <div class="grid p-10 border-b border-b-slate-300 md:grid-cols-2 gap-y-3">
            <h3 class="jobName text-lg font-medium md:text-xl text-primary 2xl:text-2xl w-[85%]">
                Supply Chain and Operations Roles
            </h3>

            <div>
                <p class="text-justify tracking-wide 2xl:text-lg">
                    We are seeking a proactive and proficient incumbent to join our supply chain and operations
                    team for catering to the challenging Oil and Energy industry. As an integral part of our
                    operations
                    team, you will have the opportunity to take part in challenging tasks in Supply Chain, Project
                    Operations, International Shipping and Field Operations. This position requires a strong
                    commitment and perseverance to achieve goals, timelines, effective communication skills, and
                    the ability to lead and collaborate effectively.
                </p>

                <p class="mt-3 text-sm text-gray-500 2xl:text-base">
                    Employment Type
                </p>

                <p class="mt-2 2xl:text-lg">
                    Permanent
                </p>

                <button class="mt-4" (click)="openModal('Supply Chain and Operations Roles')">
                    <img class="size-10" src="assets/images/icons/top.svg" alt="arrow">
                </button>
            </div>

        </div>

        <div class="grid p-10 border-b border-b-slate-300 md:grid-cols-2 gap-y-3">
            <h3 class="jobName text-lg font-medium md:text-xl text-primary 2xl:text-2xl w-[85%]">
                Product Development and Application Engineering Roles
            </h3>

            <div>
                <p class="text-justify tracking-wide 2xl:text-lg">
                    We are looking for an intrapreneur who aligns with our vision in transforming the industrial
                    ecosystem and key values of customer and solution first. The ideal incumbent would have a
                    strong commitment and interest in solving problems and developing new innovative solutions
                    and products for the Oil and Energy industry. We look for a wide range of people, starting from
                    engineers to developers; we don't classify them based on the degree; instead, we qualify them
                    based on the skills and qualities they possess. We value candidates who show a strong
                    commitment and persistence to learn, take risks, and the ability to lead and collaborate
                    effectively.
                </p>

                <p class="mt-3 text-sm text-gray-500 2xl:text-base">
                    Employment Type
                </p>

                <p class="mt-2 2xl:text-lg">
                    Permanent
                </p>

                <button class="mt-4" (click)="openModal('Product Development and Application Engineering Roles')">
                    <img class="size-10" src="assets/images/icons/top.svg" alt="arrow">
                </button>
            </div>

        </div>

    </div>


</section>

<!-- join our team -->
<section class="relative">
    <!-- particles.js container -->
    <div class="absolute w-full h-full bg-[#09102e] bg-cover bg-no-repeat" id="particles-js"></div>

    <div class="container p-8 mx-auto lg:p-20 py-14 lg:py-20">

        <form id="news-letter-form" class="md:w-[40%] bg-white md:p-8 p-5 rounded-sm z-10 relative"
            [formGroup]="newsletterForm" (ngSubmit)="submitNewsletter()">
            <h2 class="text-lg font-medium 2xl:text-xl">
                Join Our Talent Community
            </h2>

            <p class="mt-3 text-sm 2xl:text-base">
                <span class="text-primary">Stay connected by joining our network!</span> Enter your
                e-mail and tell us a bit about yourself, and we'll keep
                you informed about upcoming events and
                opportunities that match your interests.
            </p>

            <input
                class="{{applyForm.get('email')?.invalid && applyForm.get('email')?.touched ? 'border-red-500 border-2' : ''}} outline-none mt-4 block max-w-60 w-full text-sm py-1.5 px-2.5 border border-black rounded-md placeholder:text-black transition-all duration-300 focus:ring 2xl:text-base"
                formControlName="email" type="email" id="emailInput" name="email" placeholder="Enter Email Address"
                required>

            <button type="submit" id="join_us_submit"
                class="flex items-center justify-between mt-3 overflow-hidden text-sm font-medium text-white rounded-md bg-primary ps-3">
                SUBMIT

                <div class="flex items-center justify-center px-3 py-3 bg-[#0042C8] ms-4">
                    <img class="size-4" src="assets/images/icons/right.svg" alt="arrow">
                </div>
            </button>
        </form>

    </div>

</section>


<app-footer>
</app-footer>


<!-- Modal Container -->
<div id="modal-container"
    class="fixed inset-0 z-50 flex items-center justify-center hidden py-20 overflow-y-auto bg-black/50 md:overflow-hidden modal backdrop-blur-sm">
    <!-- Modal -->
    <div class="relative w-full max-w-4xl max-h-[90vh] overflow-y-auto bg-white rounded-lg shadow-lg">
        <!-- Modal Close Button -->
        <button class="absolute text-white top-4 right-4 hover:text-white/80" (click)="closeModal()">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>

            </svg>
        </button>

        <!-- Modal Content -->
        <div class="p-4 text-center text-white bg-primary">
            <h2 class="text-2xl font-semibold">{{jobName}}</h2>
        </div>
        <form id="apply-form" class="grid p-6 mt-3 gap-x-4 md:grid-cols-2" [formGroup]="applyForm"
            (ngSubmit)="submitApplication()">
            <!-- First Name -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="firstName">First Name:</label>
                <input
                    class="{{applyForm.get('firstName')?.invalid && applyForm.get('firstName')?.touched ? 'border-red-500 border-2' : ''}} w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    formControlName="firstName" id="firstName" name="firstName" type="text" required>
            </div>

            <!-- Last Name -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="lastName">Last Name:</label>
                <input
                    class="{{applyForm.get('lastName')?.invalid && applyForm.get('lastName')?.touched ? 'border-red-500 border-2' : ''}} w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    formControlName="lastName" id="lastName" name="lastName" type="text" required>
            </div>

            <!-- Email -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="email">Email:</label>
                <input
                    class="{{applyForm.get('email')?.invalid && applyForm.get('email')?.touched ? 'border-red-500 border-2' : ''}} w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    formControlName="email" id="email" name="email" type="email" required>
            </div>

            <!-- Phone Number -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="phoneNumber">Phone Number:</label>
                <input
                    class="{{applyForm.get('phoneNumber')?.invalid && applyForm.get('phoneNumber')?.touched ? 'border-red-500 border-2' : ''}} w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    formControlName="phoneNumber" id="phone" name="phoneNumber" type="tel" required>
            </div>

            <!-- Nationality -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="nationality">Nationality:</label>
                <input
                    class="{{applyForm.get('nationality')?.invalid && applyForm.get('nationality')?.touched ? 'border-red-500 border-2' : ''}} w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    formControlName="nationality" id="nationality" name="nationality" type="text" required>
            </div>

            <!-- Country of Residence -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="countryOfResidence">Country of
                    Residence:</label>
                <input
                    class="{{applyForm.get('countryName')?.invalid && applyForm.get('countryName')?.touched ? 'border-red-500 border-2' : ''}} w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    formControlName="countryName" id="countryOfResidence" name="countryName" type="text" required>
            </div>

            <!-- Resume -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="resume">Resume:</label>
                <input
                    class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    id="resume" name="resume" type="file" accept=".pdf,.doc,.docx"
                    (change)="onFileChange($event, 'resume')" required>
            </div>

            <!-- Cover Letter -->
            <div class="col-span-1 mb-4">
                <label class="block text-sm font-medium text-gray-700" for="coverLetter">Cover Letter:</label>
                <input
                    class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                    id="coverLetter" name="coverLetter" type="file" accept=".pdf,.doc,.docx"
                    (change)="onFileChange($event, 'coverLetter')" required>
            </div>

            <!-- Submit Button -->
            <div class="col-span-2 pt-3 mt-6 text-right border-t border-t-gray-300">
                <button
                    class="px-6 py-2 text-white rounded-md bg-primary hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    [disabled]="applyForm.invalid" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>