<!-- header -->
<header class="bg-white">


    <!-- navigation -->
    <div id="header-white"></div>
    <app-header-white></app-header-white>
    <!-- hero section -->
    <section class="container relative z-20 flex items-center p-8 mx-auto lg:p-20">
        <div class="grid gap-10 md:gap-5 md:grid-cols-2">
            <!-- <div class="flex w-full">
                    <div class="flex flex-col gap-5 shrink-0">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/1.png" alt="product">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/2.png" alt="product">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/3.png" alt="product">
                    </div>

                    <img class="w-[75%] ms-5 h-auto transition-all duration-300 main-image"
                        src="assets/images/products-icon/product.png" alt="product">
                </div> -->
            <div id="product-gallery" class="flex w-full">
                <!-- Thumbnails and main image will be injected here dynamically -->
            </div>
            <div class="w-full">
                <h3 id="product_name" class="text-xl uppercase font-semibold md:text-2xl">
                    Floating Suction Unit
                </h3>
                <p class="mt-5 leading-8 tracking-wide 2xl:text-lg text-justify">
                    TheGAW Floating Suction Units are engineered to provide optimal, contaminant-free fluid
                    extraction
                    from storage tanks, ensuring unparalleled efficiency. Designed to handle both sludge and debris,
                    these units guarantee a clean and reliable output. Whether used in horizontal or vertical tanks,
                    their
                    advanced design offers unmatched versatility and performance, enabling smooth operations across
                    a variety of applications. TheGAW Floating Suction Units deliver consistent, high-quality
                    results while
                    safeguarding tank integrity.
                </p>
            </div>
        </div>
    </section>
</header>

<section>
    <div class="container p-8 mx-auto rounded-lg shadow-md lg:p-20">
        <!-- Tabs Header -->
        <div class="flex flex-wrap gap-2 md:flex-nowrap">
            <button
                class="relative flex-1 uppercase py-3 px-2 font-semibold text-center text-blue-600 rounded-t-md tab-btn shadow-[0px_-6px_10px_-3px_rgba(0,_0,_0,_0.1)]"
                data-tab="Specifications">
                Specifications
                <div class="absolute left-0 w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="features">
                Features
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="benefits">
                Benefits
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="catalog">
                Catalog
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="order-form">
                Order Form
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
        </div>

        <!-- Tabs Content -->
        <div class="p-6 rounded-b-lg bg-gray-50">
            <!-- Specifications Tab -->
            <div class="tab-content" id="Specifications">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Specifications</h3>
                </div>
                <div class="mt-4 overflow-x-auto">
                    <table class="min-w-full text-sm text-left border border-collapse border-gray-200">
                        <thead>
                            <tr class="bg-gray-100 border-b border-gray-200">
                                <!-- <th class="px-4 py-3 font-semibold">Sno</th> -->
                                <th class="px-4 py-3 font-semibold">Model</th>
                                <th class="px-4 py-3 font-semibold">Material</th>
                                <th class="px-4 py-3 font-semibold text-center">Flow Rate (m³/h)</th>
                                <th class="px-4 py-3 font-semibold text-center">Diameter (Inch)</th>
                                <th class="px-4 py-3 font-semibold text-center">Pressure (Bar)</th>
                                <th class="px-4 py-3 font-semibold text-center">Weight (KG)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <!-- <td class="px-4 py-3">1</td> -->
                                <td class="px-4 py-3">TGFS2</td>
                                <td class="px-4 py-3">Stainless Steel</td>
                                <td class="px-4 py-3 text-center">80</td>
                                <td class="px-4 py-3 text-center">2”</td>
                                <td class="px-4 py-3 text-center">8</td>
                                <td class="px-4 py-3 text-center">25</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <!-- <td class="px-4 py-3">2</td> -->
                                <td class="px-4 py-3">TGFS4</td>
                                <td class="px-4 py-3">Carbon Steel</td>
                                <td class="px-4 py-3 text-center">100</td>
                                <td class="px-4 py-3 text-center">4”</td>
                                <td class="px-4 py-3 text-center">10</td>
                                <td class="px-4 py-3 text-center">40</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <!-- <td class="px-4 py-3">3</td> -->
                                <td class="px-4 py-3">TGFS6</td>
                                <td class="px-4 py-3">Aluminium</td>
                                <td class="px-4 py-3 text-center">150</td>
                                <td class="px-4 py-3 text-center">6”</td>
                                <td class="px-4 py-3 text-center">15</td>
                                <td class="px-4 py-3 text-center">60</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <!-- <td class="px-4 py-3">4</td> -->
                                <td class="px-4 py-3">TGFS8</td>
                                <td class="px-4 py-3">Stainless Steel, Duplex</td>
                                <td class="px-4 py-3 text-center">200</td>
                                <td class="px-4 py-3 text-center">8”</td>
                                <td class="px-4 py-3 text-center">12</td>
                                <td class="px-4 py-3 text-center">80</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <!-- <td class="px-4 py-3">5</td> -->
                                <td class="px-4 py-3">TGFS10</td>
                                <td class="px-4 py-3">Stainless Steel, Carbon</td>
                                <td class="px-4 py-3 text-center">300</td>
                                <td class="px-4 py-3 text-center">10”</td>
                                <td class="px-4 py-3 text-center">10</td>
                                <td class="px-4 py-3 text-center">120</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Features Tab -->
            <div class="hidden tab-content" id="features">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Features</h3>
                </div>
                <ul class="list-disc list-image-[url(assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li>Customizable designs in various sizes, materials, and configurations for different tank
                        types and product needs.</li>
                    <li>Made from durable and corrosion-resistant materials.</li>
                    <li>Flexible joint design with swivel joints.</li>
                    <li>Easy installation and handling.</li>
                    <li>Maintenance-friendly with modular components for quick inspection and replacement.</li>
                    <li>Compliant with international industry standards for storage tanks.</li>
                    <li>Suitable for tanks storing fuels, oils, chemicals, and other liquids.</li>
                </ul>
            </div>

            <!-- Benefits Tab -->
            <div class="hidden tab-content" id="benefits">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Benefits</h3>
                </div>
                <ul class="list-disc list-image-[url(assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li>After-sales technical support team.</li>
                    <li>Provides durability and long service life in harsh environments.</li>
                    <li>Reduces contamination from sediment or water at the tank's bottom.</li>
                    <li>Suitable for a broad range of industries, including petrochemicals and aviation.</li>
                    <li>Reduces installation costs and operational downtime.</li>
                    <li>Ensures clean product transfer and reduces environmental risks.</li>
                    <li>Guarantees safe and reliable operations.</li>
                </ul>
            </div>

            <!-- Catalog Tab -->
            <div class="hidden tab-content" id="catalog">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Catalog</h3>
                </div>
                <p class="mt-4"><a target="_blank"  href="./assets/catalog/TheGAW Industries Floating Suction Units2025.pdf"
                        class="text-blue-600 underline">Download</a> </p>
            </div>

            <!-- Order Form Tab -->
            <!-- <div class="hidden tab-content" id="order-form">
                    <div class="p-4 bg-primary/10">
                        <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Order Form</h3>
                    </div>
                    <p class="mt-4"><a href="#" class="text-blue-600 underline">Download the questionnaire </a></p>
                    <div class="grid col-span-3 mb-4 md:grid-cols-3 gap-5">
                        <input type="file" id="coverLetter" name="coverLetter" accept=".pdf,.doc,.docx"
                            class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent">
                        <button type="submit"
                            class="py-3 px-9 w-fit bg-primary rounded-lg text-white  block font-semibold text-sm">
                            Submit
                        </button>
                    </div>
                </div> -->
            <div class="hidden tab-content" id="order-form">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Order Form</h3>
                </div>
                <p class="mt-4">
                    <a target="_blank"  href="./assets/catalog/Questionnaire FSU.pdf" class="text-blue-600 underline">Download the
                        questionnaire</a>
                </p>
                <form id="floating-suction-unit-form" class="grid col-span-3 mb-4 md:grid-cols-3 gap-5">
                    <!-- Custom label for file input -->
                    <label for="coverLetter" id="file_upload_block"
                        class="w-full flex items-center gap-2 px-4 py-2 mt-1 border border-gray-300 rounded-md text-center cursor-pointer text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent hover:bg-gray-100">
                        <img class="h-6 w-6" src="assets/images/icons/upload_ico.png" alt="">Upload Answered File
                    </label>

                    <label for="coverLetter" id="empty_label"
                        class="w-full flex hidden items-center gap-2 px-4 py-2 mt-1 border border-gray-300 rounded-md text-center cursor-pointer text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent hover:bg-gray-100">

                    </label>
                    <!-- Hidden file input -->
                    <input type="file" id="coverLetter" name="coverLetter" accept=".pdf,.doc,.docx" class="hidden">
                    <button type="submit"
                        class="py-3 px-9 w-fit bg-primary rounded-lg text-white block font-semibold text-sm upload-button">
                        Submit
                    </button>
                </form>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>