<!-- header -->
<header class="bg-white">


    <!-- navigation -->
    <div id="header-white"></div>
    <app-header-white></app-header-white>
    <!-- hero section -->
    <section class="container relative z-20 flex items-center p-8 mx-auto lg:p-20">
        <div class="grid gap-10 md:gap-5 md:grid-cols-2">
            <!-- <div class="flex w-full">
                    <div class="flex flex-col gap-5 shrink-0">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/1.png" alt="product">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/2.png" alt="product">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/3.png" alt="product">
                    </div>

                    <img class="w-[75%] ms-5 h-auto transition-all duration-300 main-image"
                        src="assets/images/products-icon/product.png" alt="product">
                </div> -->
            <div id="product-gallery" class="flex w-full">
                <!-- Thumbnails and main image will be injected here dynamically -->
            </div>
            <div class="w-full">
                <h3 id="product_name" class="text-xl uppercase font-semibold md:text-2xl">
                    Square Drive Torque Wrench
                </h3>
                <p class="mt-5 leading-8 tracking-wide 2xl:text-lg text-justify">
                    TheGAW Square Drive Hydraulic Torque Wrenches boast a compact, high-strength uni-body
                    construction, ensuring durability and easy access in confined spaces. These tools deliver
                    precise torque values for uniform bolt tightening, made from high-strength, corrosion-resistant
                    materials. Designed for longevity, they ensure safety and optimal performance even in the most
                    demanding environments.
                </p>
            </div>
        </div>
    </section>
</header>


<section>
    <div class="container p-8 mx-auto rounded-lg shadow-md lg:p-20">
        <!-- Tabs Header -->
        <div class="flex flex-wrap gap-2 md:flex-nowrap">
            <button
                class="relative flex-1 uppercase py-3 px-2 font-semibold text-center text-blue-600 rounded-t-md tab-btn shadow-[0px_-6px_10px_-3px_rgba(0,_0,_0,_0.1)]"
                data-tab="Specifications">
                Specifications
                <div class="absolute left-0 w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="features">
                Features
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="manuals">
                Manuals
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="notification">
                Notification
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="warning">
                Warning
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
        </div>

        <!-- Tabs Content -->
        <div class="p-6 rounded-b-lg bg-gray-50">
            <!-- Specifications Tab -->
            <div class="tab-content" id="Specifications">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Specifications</h3>
                </div>
                <div class="mt-4 overflow-x-auto">
                    <table class="min-w-full text-sm text-left border border-collapse border-gray-200">
                        <thead>
                            <tr class="bg-gray-100 border-b border-gray-200">
                                <th class="px-4 py-3 font-semibold">MODEL</th>
                                <th class="px-4 py-3 font-semibold text-center">AST07</th>
                                <th class="px-4 py-3 font-semibold text-center">AST07X</th>
                                <th class="px-4 py-3 font-semibold text-center">AST01</th>
                                <th class="px-4 py-3 font-semibold text-center">AST15</th>
                                <th class="px-4 py-3 font-semibold text-center">AST15X</th>
                                <th class="px-4 py-3 font-semibold text-center">AST15Z</th>
                                <th class="px-4 py-3 font-semibold text-center">AST25</th>
                                <th class="px-4 py-3 font-semibold text-center">AST25X</th>
                                <th class="px-4 py-3 font-semibold text-center">AST25Y</th>
                                <th class="px-4 py-3 font-semibold">AST25Z</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">SQUARE DRIVE</td>
                                <td class="px-4 py-3 text-center">3/4"</td>
                                <td class="px-4 py-3 text-center">3/4"</td>
                                <td class="px-4 py-3 text-center">1"</td>
                                <td class="px-4 py-3 text-center">1-1/2"</td>
                                <td class="px-4 py-3 text-center">1-1/2"</td>
                                <td class="px-4 py-3 text-center">1-1/2"</td>
                                <td class="px-4 py-3 text-center">2-1/2"</td>
                                <td class="px-4 py-3 text-center">2-1/2"</td>
                                <td class="px-4 py-3 text-center">2-1/2"</td>
                                <td class="px-4 py-3 text-center">2-1/2"</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">MIN.TORQUE(Nm)</td>
                                <td class="px-4 py-3 text-center">112</td>
                                <td class="px-4 py-3 text-center">182</td>
                                <td class="px-4 py-3 text-center">450</td>
                                <td class="px-4 py-3 text-center">750</td>
                                <td class="px-4 py-3 text-center">1075</td>
                                <td class="px-4 py-3 text-center">1550</td>
                                <td class="px-4 py-3 text-center">2660</td>
                                <td class="px-4 py-3 text-center">3473</td>
                                <td class="px-4 py-3 text-center">4865</td>
                                <td class="px-4 py-3 text-center">7200</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">MAX.TORQUE(Nm)</td>
                                <td class="px-4 py-3 text-center">1124</td>
                                <td class="px-4 py-3 text-center">1838</td>
                                <td class="px-4 py-3 text-center">4515</td>
                                <td class="px-4 py-3 text-center">7528</td>
                                <td class="px-4 py-3 text-center">10780</td>
                                <td class="px-4 py-3 text-center">15515</td>
                                <td class="px-4 py-3 text-center">26664</td>
                                <td class="px-4 py-3 text-center">34730</td>
                                <td class="px-4 py-3 text-center">48668</td>
                                <td class="px-4 py-3 text-center">72010</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">MIN.TORQUE(Ft.Lbs)</td>
                                <td class="px-4 py-3 text-center">82</td>
                                <td class="px-4 py-3 text-center">134</td>
                                <td class="px-4 py-3 text-center">331</td>
                                <td class="px-4 py-3 text-center">553</td>
                                <td class="px-4 py-3 text-center">793</td>
                                <td class="px-4 py-3 text-center">1143</td>
                                <td class="px-4 py-3 text-center">1961</td>
                                <td class="px-4 py-3 text-center">2561</td>
                                <td class="px-4 py-3 text-center">3588</td>
                                <td class="px-4 py-3 text-center">5310</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">MAX.TORQUE(Ft.Lbs)</td>
                                <td class="px-4 py-3 text-center">829</td>
                                <td class="px-4 py-3 text-center">1355</td>
                                <td class="px-4 py-3 text-center">3330</td>
                                <td class="px-4 py-3 text-center">5552</td>
                                <td class="px-4 py-3 text-center">7950</td>
                                <td class="px-4 py-3 text-center">11443</td>
                                <td class="px-4 py-3 text-center">19666</td>
                                <td class="px-4 py-3 text-center">25615</td>
                                <td class="px-4 py-3 text-center">35895</td>
                                <td class="px-4 py-3 text-center">53104</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">BOLT SIZE(M)</td>
                                <td class="px-4 py-3 text-center">14-30</td>
                                <td class="px-4 py-3 text-center">16-36</td>
                                <td class="px-4 py-3 text-center">22-48</td>
                                <td class="px-4 py-3 text-center">27-56</td>
                                <td class="px-4 py-3 text-center">30-64</td>
                                <td class="px-4 py-3 text-center">36-72</td>
                                <td class="px-4 py-3 text-center">42-90</td>
                                <td class="px-4 py-3 text-center">48-100</td>
                                <td class="px-4 py-3 text-center">64-120</td>
                                <td class="px-4 py-3 text-center">72-125</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">WEIGHT(Kgs)</td>
                                <td class="px-4 py-3 text-center">1.8</td>
                                <td class="px-4 py-3 text-center">2.5</td>
                                <td class="px-4 py-3 text-center">5</td>
                                <td class="px-4 py-3 text-center">8</td>
                                <td class="px-4 py-3 text-center">11</td>
                                <td class="px-4 py-3 text-center">15</td>
                                <td class="px-4 py-3 text-center">26.5</td>
                                <td class="px-4 py-3 text-center">35</td>
                                <td class="px-4 py-3 text-center">50</td>
                                <td class="px-4 py-3 text-center">65</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- Features Tab -->
            <div class="hidden tab-content" id="features">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Features</h3>
                </div>
                <ul class="list-disc list-image-[url(assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li>Embedded with an RFID chip for seamless tracking, inventory management, and service history
                        monitoring.</li>
                    <li>Compact design with the raw material of advanced aluminium-titanium alloy, which intensifies
                        the strength and toughness comprehensively.</li>
                    <li>The 360*185-degree swivel is free to operate with no space limitation.</li>
                    <li>The new locking coupler ensures the oil keeps free access.</li>
                    <li>Laser with the pressure-torque table enables convenient operation.</li>
                    <li>The drive operates with a highly intense socket and is suitable for all ranges of bolts.
                    </li>
                    <li>The 360-degree adjustable reaction arm allows placing in any support point.</li>
                </ul>
            </div>


            <!-- Manuals Tab -->
            <div class="hidden tab-content" id="manuals">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Manuals</h3>
                </div>
                <div class="p-5 mt-4">

                    <p class="mt-4"><a href="#" class="text-blue-600 underline">Technical Data Sheet </a></p>

                    <p class="mt-4"><a href="./assets/catalog/TheGAW-CBHE [Edition 2025] Square Drive.pdf"
                            class="text-blue-600 underline">Operational Manual </a></p>

                </div>

                <!-- <div class="hidden tab-content" id="catalog">
                       
                    </div> -->

                <!-- <ul class="pl-6 mt-4 space-y-2 list-disc">
                        <li>Technical Data Sheet - <a href="#" class="text-blue-600 underline">Square Drive Hydraulic
                                Torque wrench/a></li>
                        <li>Operational Manual - <a href="#" class="text-blue-600 underline"> Square Drive Hydraulic
                                Torque wrench</a></li>
                    </ul> -->
            </div>

            <!-- Notification Tab -->
            <div class="hidden tab-content" id="notification">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Notification</h3>
                </div>
                <ul class="list-disc list-image-[url(assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li>Each unit comes in a carry case with identification tags on the case.</li>
                    <li>Additional Accessories: Drive Socket, Impact Socket, Extended Reaction Arm, Reaction Sleeve,
                        Quick Couplers, Hydraulic Hoses.</li>
                    <li>The Standard Cert package including a Technical Datasheet, Operational Manual, Maintenance
                        Manual, and Manufacturing Test Report are supplied along with the machine.</li>
                    <li>Usage of TheGAW Hydraulic Torquing Pumps will provide greater efficiency on the torque
                        tools.</li>
                </ul>
            </div>

            <!-- Warning Tab -->
            <div class="hidden tab-content" id="warning">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Warning</h3>
                </div>
                <!-- <div class="max-w-sm p-5 mx-auto mt-4 text-center text-black bg-gradient-to-b from-white to-[#0456FB]/20 rounded-lg"> -->
                <div class="max-w-sm p-5 mx-auto mt-10 text-center text-white bg-primary rounded-lg">
                    <div class="xl:text-xl flex items-center justify-center gap-2">
                        <!-- <img class="size-6" src="assets/images/danger.svg" alt="danger"> -->
                        <h2 class="font-medium text-center ">SAFETY NOTICE</h2>
                        <img class="size-6" src="assets/images/danger.svg" alt="danger">

                    </div>
                    <p class="mt-2 text-sm xl:text-base text-[#d3d3d3]">
                        Using TheGAW™ Torquing tools without proper precautions can lead to severe injuries. Follow the
                        provided operational guidelines and industry safety standards. Regular maintenance and
                        inspection of the machines are essential to ensure safe and efficient performance.
                    </p>
                </div>
                <!-- <ul class="pl-6 mt-4 space-y-2 list-disc">
                        <li><strong>SAFETY NOTICE:</strong> Using TheGAW™ Torquing tools without proper precautions can
                            lead to severe injuries. Follow the provided operational guidelines and industry safety
                            standards. Regular maintenance and inspection of the machines are essential to ensure safe
                            and efficient performance. </li>
                    </ul> -->
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>