<!-- header -->
<header class="bg-white">


    <!-- navigation -->
    <div id="header-white"></div>
    <app-header-white></app-header-white>
    <!-- hero section -->
    <section class="container relative z-20 flex items-center p-8 mx-auto lg:p-20">
        <div class="grid gap-10 md:gap-5 md:grid-cols-2">
            <!-- <div class="flex w-full">
                    <div class="flex flex-col gap-5 shrink-0">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/1.png" alt="product">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/2.png" alt="product">
                        <img class="transition-all duration-200 cursor-pointer size-16 nav-image hover:scale-105"
                            src="assets/images/products-icon/3.png" alt="product">
                    </div>

                    <img class="w-[75%] ms-5 h-auto transition-all duration-300 main-image"
                        src="assets/images/products-icon/product.png" alt="product">
                </div> -->
            <div id="product-gallery" class="flex w-full">
                <!-- Thumbnails and main image will be injected here dynamically -->
            </div>
            <div class="w-full">
                <h3 id="product_name" class="text-xl uppercase font-semibold md:text-2xl">
                    Nut Splitter
                </h3>
                <p class="mt-5 leading-8 tracking-wide 2xl:text-lg text-justify">
                    TheGAW Nut Splitters provide safe and efficient removal of heavily corroded or seized nuts
                    through controlled hydraulic splitting action. The precision-engineered blade design with
                    calibrated depth control ensures damage-free bolt preservation while eliminating sparks and
                    impact hazards. Featuring quick setup and versatile sizing options, these tools deliver rapid
                    nut removal in even the most challenging industrial environments.


                </p>
            </div>
        </div>
    </section>
</header>

<section>
    <div class="container p-8 mx-auto rounded-lg shadow-md lg:p-20">
        <!-- Tabs Header -->
        <div class="flex flex-wrap gap-2 md:flex-nowrap">
            <button
                class="relative flex-1 uppercase py-3 px-2 font-semibold text-center text-blue-600 rounded-t-md tab-btn shadow-[0px_-6px_10px_-3px_rgba(0,_0,_0,_0.1)]"
                data-tab="Specifications">
                Specifications
                <div class="absolute left-0 w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="features">
                Features
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="manuals">
                Manuals
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="notification">
                Notification
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
            <button
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center text-gray-600 tab-btn hover:bg-gray-100 bg-blue-600/10 rounded-t-md"
                data-tab="warning">
                Warning
                <div class="absolute left-0 hidden w-1 h-8 bg-blue-600 rounded-sm top-2"></div>
            </button>
        </div>

        <!-- Tabs Content -->
        <div class="p-6 rounded-b-lg bg-gray-50">
            <!-- Specifications Tab -->
            <div class="tab-content" id="Specifications">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Specifications</h3>
                </div>
                <div class="mt-4 overflow-x-auto">
                    <table class="min-w-full text-sm text-left border border-collapse border-gray-200">
                        <thead>
                            <tr class="bg-gray-100 border-b border-gray-200">
                                <th class="px-4 py-3 font-semibold">MODEL</th>
                                <th class="px-4 py-3 font-semibold">BOLT RANGE (mm)</th>
                                <th class="px-4 py-3 text-center font-semibold">CAPACITY (ton)</th>
                                <th class="px-4 py-3 text-center font-semibold">HEX NUT RANGE (mm)</th>
                                <th class="px-4 py-3 text-center font-semibold">OIL CAPACITY (cm³)</th>
                                <th class="px-4 py-3 text-center font-semibold">WEIGHT (Kg)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS5</td>
                                <td class="px-4 py-3">M6-M12</td>
                                <td class="px-4 py-3 text-center">5</td>
                                <td class="px-4 py-3 text-center">13-19</td>
                                <td class="px-4 py-3 text-center">15</td>
                                <td class="px-4 py-3 text-center">0.8</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS10</td>
                                <td class="px-4 py-3">M12-M16</td>
                                <td class="px-4 py-3 text-center">10</td>
                                <td class="px-4 py-3 text-center">19-24</td>
                                <td class="px-4 py-3 text-center">20</td>
                                <td class="px-4 py-3 text-center">2.5</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS15</td>
                                <td class="px-4 py-3">M16-M22</td>
                                <td class="px-4 py-3 text-center">15</td>
                                <td class="px-4 py-3 text-center">24-32</td>
                                <td class="px-4 py-3 text-center">60</td>
                                <td class="px-4 py-3 text-center">3.5</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS20</td>
                                <td class="px-4 py-3">M22-M27</td>
                                <td class="px-4 py-3 text-center">20</td>
                                <td class="px-4 py-3 text-center">32-41</td>
                                <td class="px-4 py-3 text-center">80</td>
                                <td class="px-4 py-3 text-center">4.5</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS35</td>
                                <td class="px-4 py-3">M27-M33</td>
                                <td class="px-4 py-3 text-center">35</td>
                                <td class="px-4 py-3 text-center">41-50</td>
                                <td class="px-4 py-3 text-center">155</td>
                                <td class="px-4 py-3 text-center">8.5</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS50</td>
                                <td class="px-4 py-3">M33-M39</td>
                                <td class="px-4 py-3 text-center">50</td>
                                <td class="px-4 py-3 text-center">50-60</td>
                                <td class="px-4 py-3 text-center">240</td>
                                <td class="px-4 py-3 text-center">12</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS90</td>
                                <td class="px-4 py-3">M39-M48</td>
                                <td class="px-4 py-3 text-center">90</td>
                                <td class="px-4 py-3 text-center">60-75</td>
                                <td class="px-4 py-3 text-center">490</td>
                                <td class="px-4 py-3 text-center">34.5</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS100</td>
                                <td class="px-4 py-3">M45-M64</td>
                                <td class="px-4 py-3 text-center">100</td>
                                <td class="px-4 py-3 text-center">70-95</td>
                                <td class="px-4 py-3 text-center">375</td>
                                <td class="px-4 py-3 text-center">38.5</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS105</td>
                                <td class="px-4 py-3">M45-M72</td>
                                <td class="px-4 py-3 text-center">100</td>
                                <td class="px-4 py-3 text-center">70-105</td>
                                <td class="px-4 py-3 text-center">375</td>
                                <td class="px-4 py-3 text-center">39.5</td>
                            </tr>
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                                <td class="px-4 py-3 font-medium">ANS200</td>
                                <td class="px-4 py-3">M76-M90</td>
                                <td class="px-4 py-3 text-center">200</td>
                                <td class="px-4 py-3 text-center">110-130</td>
                                <td class="px-4 py-3 text-center">820</td>
                                <td class="px-4 py-3 text-center">72</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Features Tab -->
            <div class="hidden tab-content" id="features">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Features</h3>
                </div>
                <ul class="list-disc list-image-[url(assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li>Equipped with an RFID chip for easy identification, inventory management, and maintenance
                        tracking.</li>
                    <li>Safe: No flames. No sparks. No risk to volatile surroundings. No hammers or impact are
                        needed. No flying fragments.</li>
                    <li>Fast: Cuts a 3" nut in 20 to 30 seconds, as opposed to approx. 20 minutes with a hammer &
                        chisel or torch. No damage to bolt or stud threads by calibrating the chisel to cut only the
                        nut.</li>
                    <li>Easy setup: You can be up and away in less than 5 minutes.</li>
                    <li>Versatile: Nut splitters cut the hardest nuts, and the range of models compares very
                        favorably to the competition.</li>
                    <li>Price: A competitive price for the unit plus savings that reduce downtime and prevent damage
                        to costly bolts and studs.</li>
                </ul>
            </div>

            <!-- Benefits Tab -->
            <div class="hidden tab-content" id="manuals">
                <!-- <div class="p-4 bg-primary/10">
                        <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Manuals</h3>
                    </div>
                    <div class="p-5 mt-4 bg-gray-200 border rounded-sm shadow w-fit">

                        <h2 class="text-lg font-medium">PRODUCT BROCHURE</h2>
                        <p class="mt-2 text-lg font-semibold text-orange-500">
                            PETOL™ POP-IT™ Flange Spreader & Prying Tool
                        </p>

                    </div>
                    <ul class="pl-6 mt-4 space-y-2 list-disc">
                        <li>
                            Technical Data Sheet
                            <a href="" class="text-primary">Nut Splitters</a>
                        </li>
                        <li>
                            Operational Manual
                            <a href="" class="text-primary">Nut Splitters</a>
                        </li>

                    </ul> -->
                <div class="p-5 mt-4">

                    <p class="mt-4"><a href="#" class="text-blue-600 underline">Technical Data Sheet </a></p>

                    <p class="mt-4"><a href="./assets/catalog/TheGAW-CBHE [Edition 2025] Nut Splitters.pdf"
                            class="text-blue-600 underline">Operational Manual </a></p>

                </div>
            </div>

            <!-- Catalog Tab -->
            <div class="hidden tab-content" id="notification">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Notification</h3>
                </div>
                <ul class="list-disc list-image-[url(assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li>Additional Acessories: Spare Chisel Quick Couplers, Hydraulic Hoses.</li>
                    <li>Standard Cert Package including Technical Datasheet, Operational Manual, Maintenance Manual,
                        and
                        Manufacturing Test Report are supplied along with machine.</li>
                </ul>


            </div>
            <div class="hidden tab-content" id="warning">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl">Warning</h3>
                </div>
                <div class="max-w-sm p-5 mx-auto mt-10 text-center text-white bg-primary rounded-lg">
                    <div class="xl:text-xl flex items-center justify-center gap-2">
                        <!-- <img class="size-6" src="assets/images/danger.svg" alt="danger"> -->
                        <h2 class="font-medium text-center ">SAFETY NOTICE</h2>
                        <img class="size-6" src="assets/images/danger.svg" alt="danger">

                    </div>
                    <p class="mt-2 text-sm xl:text-base text-[#d3d3d3]">
                        Using TheGAW™ Nut Splitters without proper precautions can lead to severe injuries. Follow the
                        provided operational guidelines and industry safety standards. Regular maintenance and
                        inspection of the machines are essential to ensure safe and efficient performance.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>