<app-header>

</app-header>

<header class="relative h-screen overflow-hidden">
        <!-- Video Background -->
        <!-- <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full">
            <source src="assets/videos/certification.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
        <div class="h-full w-full bg-[#000C25] absolute">

        </div>
        <!-- <div class="absolute inset-0 w-full h-full bg-black/60">

        </div> -->
        <!-- navigation -->
        <div id="header">
        </div>

        <!-- hero section -->
        <section class="container mx-auto lg:p-20 p-8 min-h-[80vh] flex items-center relative z-20 text-white">
            <div>
                <h2 class="2xl:text-xl text-sm text-white/70">
                    TheGAW
                </h2>

                <h1
                    class="uppercase mt-5 text-2xl font-medium tracking-wide md:text-4xl 2xl:text-5xl 2xl:font-semibold">
                    Certifications & Policies
                </h1>
            </div>
        </section>
    </header>


<section class="bg-[#F6F6F7] lg:px-20 lg:py-10 p-8">

        <div class="container mx-auto text-sm xl:text-base 2xl:text-xl">
            <p class="mt-3 tracking-wide">
                At TheGAW Industries, we uphold a steadfast commitment to safeguarding the health, safety, and
                well-being of our employees, clients, and partners. With an unwavering focus on minimizing environmental
                impact, we embed sustainability and ethical business practices into every aspect of our operations.
            </p>
            <p class="mt-3 tracking-wide">

                Our dedication to quality drives us to exceed industry standards, delivering exceptional products and
                services that inspire trust and reliability. Through innovation, accountability, and respect for human
                rights, we strive to create lasting value for our stakeholders while contributing to a sustainable and
                equitable future.
            </p>
        </div>

    </section>

    <section class="container grid gap-6 p-8 mx-auto lg:p-20 md:grid-cols-3">
        <div
            class="flex flex-col items-center justify-center gap-2 p-5 text-center text-white transition-all duration-300 rounded-md 2xl:gap-4 bg-primary min-h-56 2xl:min-h-64 hover:shadow-md hover:-translate-y-2">
            <h2 class="text-xl font-medium md:text-2xl 2xl:text-3xl">
                Health & Safety Policy
            </h2>
            <button
                class="bg-white xl:text-xl 2xl:py-3 2xl:px-6 border border-primary rounded-md py-1.5 px-3 text-black hover:text-white hover:bg-[#000C25] hover:-translate-y-1 transition-all duration-300 text-sm md:mt-4 mt-2">
                Download
            </button>
        </div>


        <div
            class="flex flex-col items-center justify-center gap-2 p-5 text-center text-white transition-all duration-300 rounded-md 2xl:gap-4 bg-primary min-h-56 2xl:min-h-64 hover:shadow-md hover:-translate-y-2">
            <h2 class="text-xl font-medium md:text-2xl 2xl:text-3xl">
                Quality Policy
            </h2>
            <button
                class="bg-white xl:text-xl 2xl:py-3 2xl:px-6 border border-primary rounded-md py-1.5 px-3 text-black hover:text-white hover:bg-[#000C25] hover:-translate-y-1 transition-all duration-300 text-sm md:mt-4 mt-2">
                Download
            </button>
        </div>
        <div
            class="flex flex-col items-center justify-center gap-2 p-5 text-center text-white transition-all duration-300 rounded-md 2xl:gap-4 bg-primary min-h-56 2xl:min-h-64 hover:shadow-md hover:-translate-y-2">
            <h2 class="text-xl font-medium md:text-2xl 2xl:text-3xl">
                Environmental Policy
            </h2>
            <button
                class="bg-white xl:text-xl 2xl:py-3 2xl:px-6 border border-primary rounded-md py-1.5 px-3 text-black hover:text-white hover:bg-[#000C25] hover:-translate-y-1 transition-all duration-300 text-sm md:mt-4 mt-2">
                Download
            </button>
        </div>
        <div
            class="flex flex-col items-center justify-center gap-2 p-5 text-center text-white transition-all duration-300 rounded-md 2xl:gap-4 bg-primary min-h-56 2xl:min-h-64 hover:shadow-md hover:-translate-y-2">
            <h2 class="text-xl font-medium md:text-2xl 2xl:text-3xl">
                Code of Conduct
            </h2>
            <button
                class="bg-white xl:text-xl 2xl:py-3 2xl:px-6 border border-primary rounded-md py-1.5 px-3 text-black hover:text-white hover:bg-[#000C25] hover:-translate-y-1 transition-all duration-300 text-sm md:mt-4 mt-2">
                Download
            </button>
        </div>
        <div
            class="flex flex-col items-center justify-center gap-2 p-5 text-center text-white transition-all duration-300 rounded-md 2xl:gap-4 bg-primary min-h-56 2xl:min-h-64 hover:shadow-md hover:-translate-y-2">
            <h2 class="text-xl font-medium md:text-2xl 2xl:text-3xl">
                IT & Data Security Policy
            </h2>
            <button
                class="bg-white xl:text-xl 2xl:py-3 2xl:px-6 border border-primary rounded-md py-1.5 px-3 text-black hover:text-white hover:bg-[#000C25] hover:-translate-y-1 transition-all duration-300 text-sm md:mt-4 mt-2">
                Download
            </button>
        </div>


        <div
            class="flex flex-col items-center justify-center gap-2 p-5 text-center text-white transition-all duration-300 rounded-md 2xl:gap-4 bg-primary min-h-56 2xl:min-h-64 hover:shadow-md hover:-translate-y-2">
            <h2 class="text-xl font-medium md:text-2xl 2xl:text-3xl">
                Sustainability Policy
            </h2>
            <button
                class="bg-white xl:text-xl 2xl:py-3 2xl:px-6 border border-primary rounded-md py-1.5 px-3 text-black hover:text-white hover:bg-[#000C25] hover:-translate-y-1 transition-all duration-300 text-sm md:mt-4 mt-2">
                Download
            </button>
        </div>
    </section>

    <section class="container grid gap-6 p-8 mx-auto lg:p-20 lg:pt-0 md:grid-cols-3">
        <!-- <div class="md:p-8 p-5 rounded-md bg-[#000C25] relative min-h-96 xl:min-h-[34rem]">
            <img class="absolute bottom-0 left-0 right-0 w-full mx-auto"
                src="assets/images/icons/oil-pump-svgrepo-com 2.png" alt="oil pump">

            <div class="flex flex-col items-end text-white">
                <img class="h-20 w-fit xl:h-28" src="assets/images/logo-primary.png" alt="logo">

                <p class="mt-3 text-lg font-medium text-white text-end xl:text-2xl">
                    API Q1
                </p>
            </div>
        </div> -->
        <div class="md:p-8 p-5 rounded-md bg-[#000C25] relative min-h-96 xl:min-h-[34rem]">
            <img class="absolute bottom-0 left-0 right-0 w-full mx-auto"
                src="assets/images/icons/oil-pump-svgrepo-com 2.png" alt="oil pump">

            <div class="flex flex-col items-end text-white">
                <img class="h-20 w-fit xl:h-28" src="assets/images/logo-primary.png" alt="logo">

                <p class="mt-3 text-lg font-medium text-white text-end xl:text-2xl">
                    ISO 9001
                </p>
            </div>
        </div>
        <div class="md:p-8 p-5 rounded-md bg-[#000C25] relative min-h-96 xl:min-h-[34rem]">
            <img class="absolute bottom-0 left-0 right-0 w-full mx-auto"
                src="assets/images/icons/oil-pump-svgrepo-com 2.png" alt="oil pump">

            <div class="flex flex-col items-end text-white">
                <img class="h-20 w-fit xl:h-28" src="assets/images/logo-primary.png" alt="logo">

                <p class="mt-3 text-lg font-medium text-white text-end xl:text-2xl">
                    ISO 14001
                </p>
            </div>
        </div>
    </section>


<app-footer>

</app-footer>