<header class="relative h-screen overflow-hidden">
    <!-- Video Background -->
    <!-- <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full">
            <source src="/assets/videos/about.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
    <div class="h-full w-full bg-[#000C25] absolute">

    </div>
    <!-- <div class="absolute inset-0 w-full h-full bg-black/60"></div> -->
    <!-- navigation -->
    <div id="header">
    </div>
<app-header>
</app-header>
    <!-- hero section -->
    <section class="container mx-auto lg:p-20 p-8 min-h-[80vh] flex items-center relative z-20 text-white uppercase">
        <div>
            <h2 class="text-sm uppercase 2xl:text-xl text-white/70">
                We Empower Progress
            </h2>

            <h1 class="mt-5 text-2xl font-medium tracking-wide uppercase md:text-4xl 2xl:text-5xl 2xl:font-semibold">
                Where Excellence
                <br class="hidden md:block">
                Drives Results
            </h1>

            <p class="mt-3 text-sm 2xl:text-2xl text-white/80">
                Delivering impactful solutions, every step of the way.
            </p>
        </div>
    </section>
    
</header>



<!-- stats -->
<section class="bg-[#F6F6F7] lg:p-20 p-8">
    <!-- <div class="container mx-auto text-sm xl:text-base 2xl:text-xl"> -->
    <!-- <p class="mt-3 tracking-wide"> -->
    <div class="text-justify container mx-auto leading-8 tracking-wide md:text-base xl:text-lg">
        <p>
            At TheGAW Industries, we power the world's most vital industries with precision-engineered
            solutions and a steadfast commitment to sustainability. Headquartered in

            Abu Dhabi, United Arab Emirates, with a global presence spanning multiple

            countries, we specialize in providing innovative tools, systems, and services that drive

            efficiency and reliability across the oil, energy, and heavy industries.
        </p>
        <p class="mt-3">
            Our expertise lies in designing and manufacturing hydraulic tools, pressure testing equipment, and fluid
            transfer systems that serve the entire energy lifecycle-from upstream exploration to downstream
            operations. We also deliver critical industrial components and specialized materials to support the
            sustainability and growth of energy and heavy industries worldwide.
        </p>
        <p class="mt-3">

            As an QMS Q1 and ISO-certified company, we adhere to the highest quality and environmental standards.
            Our in-house Quality Management System (QMS) ensures every product and service aligns with our vision of
            a sustainable and carbon-neutral future. Guided by a "Today for Tomorrow" ethos, we embrace the UAE's
            commitment to sustainability and its responsibility to future generations.
        </p>
        <p class="mt-3">

            TheGAW Industries thrives on a culture of innovation and collaboration. Our diverse team drives
            excellence across every project and partnership. We are more than a manufacturer or service provider-we
            are a trusted partner, providing comprehensive solutions that enable industries to tackle complex
            challenges and achieve lasting success.
        </p>
        <p class="mt-3">

            We aim to set new standards of excellence, ensuring that the energy and heavy industries remain
            resilient and future-ready.
        </p>
    </div>

</section>


<!-- mission & vision -->
<section class="container grid gap-8 p-8 mx-auto md:grid-cols-2 lg:p-20 place-items-center grow">
    <div class="relative h-full p-5 overflow-hidden border border-gray-200 rounded-md shadow-md group">

        <div
            class="circle absolute h-[10em] w-[11em] -top-[5.5em] -right-[5.5em] rounded-full bg-primary group-hover:scale-[800%] duration-500 ease-in-out z-[-1]">
        </div>

        <h2 class="text-xl font-semibold 2xl:text-2xl text-primary group-hover:text-white md:text-2xl">
            Mission

        </h2>
        <div class="mt-2 border-b-2 border-b-primary max-w-20 group-hover:border-b-white"></div>

        <p
            class="text-justify 2xl:text-lg mt-4 tracking-wide [word-spacing:1px] text-[#5A5A5A] group-hover:text-white/90">
            To build sustainable products, unmatched partnerships, and deliver value to our clients
            through expertise and commitment of our people. And to exceed our customers
            quality expectations. We follow #ZeroToleranceForQuality
        </p>
    </div>
    <div class="relative h-full p-5 overflow-hidden border border-gray-200 rounded-md shadow-md group">

        <div
            class="circle absolute h-[10em] w-[11em] -top-[5.5em] -right-[5.5em] rounded-full bg-primary group-hover:scale-[800%] duration-500 ease-in-out z-[-1]">
        </div>
        <h2 class="text-xl font-semibold 2xl:text-2xl text-primary group-hover:text-white md:text-2xl">

            Vision
        </h2>
        <div class="mt-2 border-b-2 border-b-primary max-w-20 group-hover:border-b-white"></div>

        <p
            class="text-justify 2xl:text-lg mt-4 tracking-wide [word-spacing:1px] text-[#5A5A5A] group-hover:text-white/90">
            To become the world's most ideal partner for sustainable and technology products and
            solutions for Oil, Energy and Heavy Industries.
        </p>
    </div>


</section>


<!-- services -->
<section class="container p-8 mx-auto lg:p-20">
    <h2 class="text-2xl font-semibold uppercase text-center md:text-3xl text-primary">
        Industries We Serve
    </h2>

    <div class="grid w-full gap-5 mt-10 md:grid-cols-3">
        <div
            class="flex flex-col items-center justify-center w-full h-full p-5 transition-all duration-300 rounded-md cursor-pointer min-h-60 hover:bg-primary/10 group">

            <img class="transition-all duration-300 size-20 group-hover:opacity-0 group-hover:hidden"
                src="/assets/images/icons/oil-exploatation.svg" alt="oil-exploatation">
            <img class="hidden transition-all duration-300 size-20 group-hover:opacity-100 group-hover:block group-hover:scale-110"
                src="/assets/images/icons/oil-exploatation-svgrepo-com 1.svg" alt="oil-exploatation">
            <h3 class="mt-4 text-lg font-semibold 2xl:text-xl">
                Oil & Gas
            </h3>
        </div>
        <div
            class="flex flex-col items-center justify-center w-full h-full p-5 transition-all duration-300 rounded-md cursor-pointer min-h-60 hover:bg-primary/10 group">

            <img class="transition-all duration-300 size-20 group-hover:opacity-0 group-hover:hidden"
                src="/assets/images/icons/energy.svg" alt="energy">
            <img class="hidden transition-all duration-300 size-20 group-hover:opacity-100 group-hover:block group-hover:scale-110"
                src="/assets/images/icons/energy-svgrepo-com (2) 1.svg" alt="energy">
            <h3 class="mt-4 text-lg font-semibold 2xl:text-xl">
                Energy
            </h3>
        </div>
        <div
            class="flex flex-col items-center justify-center w-full h-full p-5 transition-all duration-300 rounded-md cursor-pointer min-h-60 hover:bg-primary/10 group">

            <img class="transition-all duration-300 size-20 group-hover:opacity-0 group-hover:hidden"
                src="/assets/images/icons/mining-svgrepo.svg" alt="energy">
            <img class="hidden transition-all duration-300 size-20 group-hover:opacity-100 group-hover:block group-hover:scale-110"
                src="/assets/images/icons/game-icons_mining.svg" alt="energy">
            <h3 class="mt-4 text-lg font-semibold 2xl:text-xl">
                Mining
            </h3>
        </div>
        <div
            class="flex flex-col items-center justify-center w-full h-full p-5 transition-all duration-300 rounded-md cursor-pointer min-h-60 hover:bg-primary/10 group">

            <img class="transition-all duration-300 size-20 group-hover:opacity-0 group-hover:hidden"
                src="/assets/images/icons/construction.svg" alt="energy">
            <img class="hidden transition-all duration-300 size-20 group-hover:opacity-100 group-hover:block group-hover:scale-110"
                src="/assets/images/icons/construction-excavator_svgrepo.com.svg" alt="energy">
            <h3 class="mt-4 text-lg font-semibold 2xl:text-xl">
                Construction
            </h3>
        </div>
        <div
            class="flex flex-col items-center justify-center w-full h-full p-5 transition-all duration-300 rounded-md cursor-pointer min-h-60 hover:bg-primary/10 group">

            <img class="transition-all duration-300 size-20 group-hover:opacity-0 group-hover:hidden"
                src="/assets/images/icons/manufacture.svg" alt="energy">
            <img class="hidden transition-all duration-300 size-20 group-hover:opacity-100 group-hover:block group-hover:scale-110"
                src="/assets/images/icons/factory_svgrepo.com.svg" alt="energy">
            <h3 class="mt-4 text-lg font-semibold 2xl:text-xl">
                Manufacturing
            </h3>
        </div>
        <div
            class="flex flex-col items-center justify-center w-full h-full p-5 transition-all duration-300 rounded-md cursor-pointer min-h-60 hover:bg-primary/10 group">

            <img class="transition-all duration-300 size-20 group-hover:opacity-0 group-hover:hidden"
                src="/assets/images/icons/industry.svg" alt="energy">
            <img class="hidden transition-all duration-300 size-20 group-hover:opacity-100 group-hover:block group-hover:scale-110"
                src="/assets/images/icons/industry_svgrepo.com.svg" alt="energy">
            <h3 class="mt-4 text-lg font-semibold 2xl:text-xl">
                Heavy Industry
            </h3>
        </div>
    </div>
</section>

<!-- values -->
<section class="bg-[url('/assets/images/values-bg.webp')] bg-cover bg-center bg-no-repeat">
    <!-- test -->
    <div class="container p-8 mx-auto text-white lg:p-20 ">

        <h2 class="text-2xl font-semibold uppercase text-center md:text-3xl">
            Core Values
        </h2>
        <div class="grid w-full gap-5 mt-10 md:grid-cols-3">
            <div class="flex items-center justify-center">
                <div
                    class="relative w-full max-w-sm h-full min-h-[240px] group overflow-hidden rounded-xl bg-primary/10">
                    <!-- Static Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center w-full h-full p-5 transition-transform duration-500 ease-out group-hover:translate-y-[-100%]">
                        <h3 class="mt-4 text-lg font-semibold text-white 2xl:text-xl">Integrity</h3>
                    </div>
                    <!-- Hover Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-start justify-center w-full h-full p-5 transition-transform duration-500 ease-out translate-y-full group-hover:translate-y-0">
                        <h3
                            class="pb-1 mt-4 text-lg font-semibold text-white border-b 2xl:text-xl border-b-primary w-fit">
                            Integrity
                        </h3>
                        <p class="mt-3 text-sm 2xl:text-base text-white/90">
                            Business practices are conducted with unwavering ethical standards, ensuring
                            transparency and
                            honesty in every interaction.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div
                    class="relative w-full max-w-sm h-full min-h-[240px] group overflow-hidden rounded-xl bg-primary/10">
                    <!-- Static Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center w-full h-full p-5 transition-transform duration-500 ease-out group-hover:translate-y-[-100%]">
                        <h3 class="mt-4 text-lg font-semibold text-white 2xl:text-xl">Customer Excellence</h3>
                    </div>
                    <!-- Hover Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-start justify-center w-full h-full p-5 transition-transform duration-500 ease-out translate-y-full group-hover:translate-y-0">
                        <h3
                            class="pb-1 mt-4 text-lg font-semibold text-white border-b 2xl:text-xl border-b-primary w-fit">
                            Customer Excellence
                        </h3>
                        <p class="mt-3 text-sm 2xl:text-base text-white/90">
                            Delivering exceptional service and high-quality products remains a top priority to
                            consistently
                            exceed customer expectations.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center">
                <div
                    class="relative w-full max-w-sm h-full min-h-[240px] group overflow-hidden rounded-xl bg-primary/10">
                    <!-- Static Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center w-full h-full p-5 transition-transform duration-500 ease-out group-hover:translate-y-[-100%]">
                        <h3 class="mt-4 text-lg font-semibold text-white 2xl:text-xl">Ownership</h3>
                    </div>
                    <!-- Hover Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-start justify-center w-full h-full p-5 transition-transform duration-500 ease-out translate-y-full group-hover:translate-y-0">
                        <h3
                            class="pb-1 mt-4 text-lg font-semibold text-white border-b 2xl:text-xl border-b-primary w-fit">
                            Ownership
                        </h3>
                        <p class="mt-3 text-sm 2xl:text-base text-white/90">
                            Taking ownership of work is at the core of our culture, fostering an entrepreneurial
                            mindset and a
                            strong sense of responsibility.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center">
                <div
                    class="relative w-full max-w-sm h-full min-h-[240px] group overflow-hidden rounded-xl bg-primary/10">
                    <!-- Static Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center w-full h-full p-5 transition-transform duration-500 ease-out group-hover:translate-y-[-100%]">
                        <h3 class="mt-4 text-lg font-semibold text-white 2xl:text-xl">Innovation
                        </h3>
                    </div>
                    <!-- Hover Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-start justify-center w-full h-full p-5 transition-transform duration-500 ease-out translate-y-full group-hover:translate-y-0">
                        <h3
                            class="pb-1 mt-4 text-lg font-semibold text-white border-b 2xl:text-xl border-b-primary w-fit">
                            Innovation

                        </h3>
                        <p class="mt-3 text-sm 2xl:text-base text-white/90">
                            Continual innovation ensures the delivery of cutting-edge solutions tailored to the
                            evolving demands
                            of the oil, energy, and heavy industries.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center">
                <div
                    class="relative w-full max-w-sm h-full min-h-[240px] group overflow-hidden rounded-xl bg-primary/10">
                    <!-- Static Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center w-full h-full p-5 transition-transform duration-500 ease-out group-hover:translate-y-[-100%]">
                        <h3 class="mt-4 text-lg font-semibold text-white 2xl:text-xl">Sustainability
                        </h3>
                    </div>
                    <!-- Hover Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-start justify-center w-full h-full p-5 transition-transform duration-500 ease-out translate-y-full group-hover:translate-y-0">
                        <h3
                            class="pb-1 mt-4 text-lg font-semibold text-white border-b 2xl:text-xl border-b-primary w-fit">
                            Sustainability
                        </h3>
                        <p class="mt-3 text-sm 2xl:text-base text-white/90">
                            A steadfast commitment to sustainability drives efforts to reduce environmental impact
                            and
                            champion a greener future.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center">
                <div
                    class="relative w-full max-w-sm h-full min-h-[240px] group overflow-hidden rounded-xl bg-primary/10">
                    <!-- Static Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-center justify-center w-full h-full p-5 transition-transform duration-500 ease-out group-hover:translate-y-[-100%]">
                        <h3 class="mt-4 text-lg font-semibold text-white 2xl:text-xl">Diversity & Inclusion
                        </h3>
                    </div>
                    <!-- Hover Content -->
                    <div
                        class="absolute inset-0 flex flex-col items-start justify-center w-full h-full p-5 transition-transform duration-500 ease-out translate-y-full group-hover:translate-y-0">
                        <h3
                            class="pb-1 mt-4 text-lg font-semibold text-white border-b 2xl:text-xl border-b-primary w-fit">
                            Diversity & Inclusion
                        </h3>
                        <p class="mt-3 text-sm 2xl:text-base text-white/90">
                            Diversity is celebrated as a strength, and inclusion is embraced to bring together
                            unique perspectives
                            and innovative ideas.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

    <!-- Testimonials -->
    <section class="bg-[#F6F6F7] lg:p-20 p-8">
        <div class="container mx-auto" bis_skin_checked="1">
            <h2 class="text-2xl  font-semibold uppercase mb-5 text-center text-primary md:text-3xl">
                News Update
            </h2>

            <div class="grid w-full max-w-7xl gap-5 mx-auto mt-4 md:grid-cols-4 xl:gap-8" id="blog-grid" bis_skin_checked="1"><div class="hover:-translate-y-1.5 hover:shadow-md transition-transform duration-300 flex flex-col items-center p-3 bg-white border border-gray-200 rounded-lg shadow-md swiper-slide" bis_skin_checked="1">
        <img src="/assets/images/about-us/image_1.png" alt="Oil and Gas Update" class="w-full h-[60%] object-cover mb-4">
        <p class="text-justify text-sm text-gray-500 2xl:text-base">TheGAW's Product Development team has successfully completed the trials of our new wireline tool.</p>
      </div><div class="hover:-translate-y-1.5 hover:shadow-md transition-transform duration-300 flex flex-col items-center p-3 bg-white border border-gray-200 rounded-lg shadow-md swiper-slide" bis_skin_checked="1">
        <img src="/assets/images/about-us/image_3.jpeg" alt="Manufacturing Update" class="w-full h-[60%] object-cover mb-4">
        <p class="text-justify text-sm text-gray-500 2xl:text-base">MOU with South Korean counterparts for building the AI LLM models in Shut Down and Turn Around Application.</p>
      </div><div class="hover:-translate-y-1.5 hover:shadow-md transition-transform duration-300 flex flex-col items-center p-3 bg-white border border-gray-200 rounded-lg shadow-md swiper-slide" bis_skin_checked="1">
        <img src="/assets/images/about-us/image_2.jpeg" alt="Construction Update" class="w-full h-[60%] object-cover mb-4">
        <p class="text-justify text-sm text-gray-500 2xl:text-base">MOU Signing with the Indian Government for our facility expansion and to support local content.</p>
      </div><div class="hover:-translate-y-1.5 hover:shadow-md transition-transform duration-300 flex flex-col items-center p-3 bg-white border border-gray-200 rounded-lg shadow-md swiper-slide" bis_skin_checked="1">
        <img src="/assets/images/about-us/image_4.jpeg" alt="Construction Update" class="w-full h-[60%] object-cover mb-4">
        <p class="text-justify text-sm text-gray-500 2xl:text-base">Awarded a major offshore spill containment project in TEPA fields.</p>
      </div></div>

    </div>
</section>

<app-footer>
</app-footer>