<header class="relative overflow-hidden h-screen">
    <div class="absolute inset-0 z-0 w-full h-full bg-black/40"></div>
    <video autoplay muted loop playsinline preload="metadata" class="absolute inset-0 z-0 object-cover w-full h-full">
        <source src="/assets/videos/Digital%20Solution.mp4" type="video/mp4">
    </video>
    <div class="absolute inset-0 z-10 flex items-center">
        <div class="container px-8 max-w-3xl lg:px-20">
            <div class="inline-flex flex-wrap items-center gap-2 py-2">
                <span class="text-2xl font-bold tracking-wide uppercase md:text-2xl lg:text-4xl text-[#0556f7]">{{ titleFirst }}</span>
                <span class="text-2xl font-bold tracking-wide uppercase md:text-2xl lg:text-4xl text-black">{{ titleSecond }}</span>
            </div>
            <h2 class="mt-3 text-xl font-medium text-left text-white uppercase md:text-2xl lg:text-4xl">{{ subtitle }}</h2>
        </div>
    </div>
    <div id="header-white" class="relative z-20"></div>
    <div class="relative z-20">
        <app-header-white></app-header-white>
    </div>
</header>

<section class="container px-8 py-10 mx-auto lg:px-20">
    <div>
        <h3 class="text-lg font-semibold uppercase md:text-xl mt-5">What you get</h3>
        <p class="mt-2 " *ngIf="title === 'Foundation Twin'">
            Foundation Twin provides a complete starter Digital Twin for terminals looking to begin digital monitoring. We develop a full 3D model of the terminal asset using AutoCAD or similar CAD tools and configure live dashboards based on the available site instrumentation and data points. This package gives your teams a clear terminal overview, performance KPIs, and loading area visibility for day to day operations.
        </p>
        <p class="mt-3 " *ngIf="title === 'Insight Twin'">
            Insight Twin is designed for terminals that require a more accurate and expandable Digital Twin. We develop an advanced 3D model using industrial platforms such as Hexagon or similar tools, with the option to include laser scanned inputs to align the model with as built site conditions. This package expands operational visibility for truck and marine operations and introduces structured preventive maintenance analytics through dashboards and analysis tables. KPI sets and reporting views can be tuned to match your operational priorities.
        </p>
        <p class="mt-3 " *ngIf="title === 'Immersive Twin'">
            Immersive Twin delivers a premium Digital Twin experience with a VR ready model of the complete terminal asset. Along with live monitoring and advanced dashboards, this package enables immersive virtual walkthroughs for training and safer operational planning. It also adds process demonstration and simulation capability so teams can learn operating workflows and process sequences in a controlled environment. Equipment management is included, linking each equipment item to its location inside the model so users can quickly navigate to assets, view information, and support troubleshooting and inspections.
        </p>
    </div>
</section>

<section class="container px-8 py-10 mx-auto lg:px-20" *ngIf="hasTabs">
    <div class="mx-auto rounded-lg shadow-md">
        <div class="flex flex-wrap gap-2 md:flex-nowrap">
            <button
                class="relative flex-1 uppercase py-3 px-3 font-semibold text-center rounded-t-md"
                [ngClass]="{
                  'text-blue-600 shadow-[0px_-6px_10px_-3px_rgba(0,_0,_0,_0.1)]': activeTab === 'features',
                  'text-gray-600 hover:bg-gray-100 bg-blue-600/10': activeTab !== 'features'
                }"
                (click)="setTab('features')">
                Features
                <div class="absolute left-0 w-1 h-8 bg-blue-600 rounded-sm top-2" [ngClass]="{ 'hidden': activeTab !== 'features' }"></div>
            </button>
            <button
                *ngIf="title === 'Foundation Twin'"
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center rounded-t-md"
                [ngClass]="{
                  'text-blue-600 shadow-[0px_-6px_10px_-3px_rgba(0,_0,_0,_0.1)]': activeTab === 'monitoring',
                  'text-gray-600 hover:bg-gray-100 bg-blue-600/10': activeTab !== 'monitoring'
                }"
                (click)="setTab('monitoring')">
                Monitoring Points
                <div class="absolute left-0 w-1 h-8 bg-blue-600 rounded-sm top-2" [ngClass]="{ 'hidden': activeTab !== 'monitoring' }"></div>
            </button>
            <button
                *ngIf="title === 'Foundation Twin'"
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center rounded-t-md"
                [ngClass]="{
                  'text-blue-600 shadow-[0px_-6px_10px_-3px_rgba(0,_0,_0,_0.1)]': activeTab === 'kpis',
                  'text-gray-600 hover:bg-gray-100 bg-blue-600/10': activeTab !== 'kpis'
                }"
                (click)="setTab('kpis')">
                <span class="normal-case">KPIs</span>
                <div class="absolute left-0 w-1 h-8 bg-blue-600 rounded-sm top-2" [ngClass]="{ 'hidden': activeTab !== 'kpis' }"></div>
            </button>
            <button
                *ngIf="title === 'Insight Twin'"
                class="relative flex-1 uppercase px-3 py-3 font-medium text-center rounded-t-md"
                [ngClass]="{
                  'text-blue-600 shadow-[0px_-6px_10px_-3px_rgba(0,_0,_0,_0.1)]': activeTab === 'maintenance',
                  'text-gray-600 hover:bg-gray-100 bg-blue-600/10': activeTab !== 'maintenance'
                }"
                (click)="setTab('maintenance')">
                Maintenance Intelligence
                <div class="absolute left-0 w-1 h-8 bg-blue-600 rounded-sm top-2" [ngClass]="{ 'hidden': activeTab !== 'maintenance' }"></div>
            </button>
        </div>

        <div class="p-6 rounded-b-lg bg-gray-50">
            <div class="tab-content" id="features" *ngIf="activeTab === 'features'">
                <div class="p-4 bg-primary/10" *ngIf="title !== 'Immersive Twin'">
                    <h3 class="text-lg font-semibold text-center uppercase text-[#001E59] md:text-xl">Key features</h3>
                </div>
                <h3
                    *ngIf="title === 'Immersive Twin'"
                    class="text-lg font-semibold text-center uppercase text-[#001E59] md:text-xl">
                </h3>
                <ul class="list-disc list-image-[url(/assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li class="" *ngFor="let f of features">{{ f }}</li>
                </ul>
            </div>

            <div class="tab-content" id="monitoring" *ngIf="title === 'Foundation Twin' && activeTab === 'monitoring'">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center uppercase text-[#001E59] md:text-xl">Monitoring points</h3>
                </div>
                <ul class="list-disc list-image-[url(/assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li class="" *ngFor="let m of monitoringPoints">{{ m }}</li>
                </ul>
            </div>

            <div class="tab-content" id="kpis" *ngIf="title === 'Foundation Twin' && activeTab === 'kpis'">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center text-[#001E59] md:text-xl normal-case">KPIs</h3>
                </div>
                <ul class="list-disc list-image-[url(/assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li class="" *ngFor="let k of kpis">{{ k }}</li>
                </ul>
            </div>

            <div class="tab-content" id="maintenance" *ngIf="title === 'Insight Twin' && activeTab === 'maintenance'">
                <div class="p-4 bg-primary/10">
                    <h3 class="text-lg font-semibold text-center uppercase text-[#001E59] md:text-xl">Maintenance intelligence</h3>
                </div>
                <ul class="list-disc list-image-[url(/assets/css/new_arrow.png)] pl-6 mt-4 space-y-2 list-disc">
                    <li class="" *ngFor="let mi of maintenanceIntelligence">{{ mi }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container px-8 py-10 mx-auto lg:px-20">
    <div class="flex flex-col gap-6 md:flex-row">
        <div class="p-5 border rounded bg-[#e8f0ff] border-blue-200 md:w-1/2">
            <div class="flex items-start gap-3">
                <svg class="mt-5 size-5 text-primary" viewBox="0 0 24 24" fill="none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2Z" stroke="currentColor" stroke-width="2"/>
                    <path d="M12 10v7" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    <path d="M12 7h.01" stroke="currentColor" stroke-width="3" stroke-linecap="round"/>
                </svg>
                <div>
                    <h3 class="text-lg font-semibold uppercase text-[#001E59]">Best for</h3>
                    <p class=" text-black/80">{{ bestFor }}</p>
                </div>
            </div>
        </div>

        <div class="p-5 border rounded bg-[#e8f0ff] border-blue-200 md:w-1/2">
            <h3 class="text-lg font-semibold uppercase text-[#001E59]">For more details</h3>
            <a
                class="inline-flex mt-4 bg-primary py-2.5 px-6 rounded-lg font-medium hover:bg-black text-white translate-all duration-300"
                [href]="downloadHref"
                [attr.download]="downloadFilename">
                Download
            </a>
        </div>
    </div>
</section>

<app-footer></app-footer>
