
<header class="relative w-full h-[85vh] lg:h-screen overflow-hidden">
        <!-- Video Background -->
        <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full hidden md:block">
            <source src="assets/videos/Hero_HomePage.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full md:hidden">
            <source src="assets/videos/Hero_mob.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <!-- <div class="h-full w-full bg-[#000C25] absolute">
 
        </div> -->
        <!-- <div class="absolute inset-0 w-full h-full bg-black/60"> -->



        <!-- navigation -->
        <app-header>
        </app-header>

        <!-- hero section -->
        <!-- <section
            class="container mx-auto lg:p-20 p-8 min-h-[90vh] 2xl:min-h-[90vh] flex items-center relative z-20 text-white">
            <div id="hero-section" class="relative">
                <div id="content" class="transition-opacity duration-500 opacity-100">
                    <h2 id="heading" class="text-sm uppercase 2xl:text-xl text-white/70">
                        We are <span class="font-medium text-primary">TheGAW</span>
                    </h2>
                    <h1 id="subheading"
                        class="mt-5 text-2xl font-medium tracking-wide uppercase md:text-4xl 2xl:text-5xl 2xl:font-semibold">
                        Engineering excellence
                        <br class="hidden md:block">
                        for oil and Gas Industry
                    </h1>
                    <p id="paragraph" class="mt-3 text-sm 2xl:text-2xl text-white/80">
                        Delivering innovative solutions with unwavering commitment.
                    </p>
                </div>
            </div>


        </section> -->
    </header>

<!-- stats -->
    <section class="bg-[#F6F6F7] lg:p-20 p-8">

        <div class="container grid gap-4 mx-auto md:grid-cols-4">
            <div
                class="2xl:p-6 flex flex-col justify-center p-4 transition-transform duration-300 bg-white rounded-md shadow hover:-translate-y-1.5 hover:shadow-md">
                <h2 class="text-2xl font-semibold 2xl:text-3xl">
                    <span class="block font-medium text-primary">200+</span>
                    Tools
                </h2>
                <p class="2xl:text-lg text-[#AEA9A9] mt-1 text-sm">
                    Crafted to Perfection
                </p>
            </div>

            <div
                class="2xl:p-6 flex flex-col justify-center p-4 transition-transform duration-300 bg-white rounded-md shadow hover:-translate-y-1.5 hover:shadow-md">
                <h2 class="text-2xl font-semibold 2xl:text-3xl">
                    <span class="block font-medium text-primary"> 21+</span>
                    Nations
                </h2>
                <p class="2xl:text-lg text-[#AEA9A9] mt-1 text-sm">
                    Serving Worldwide
                </p>
            </div>
            <div
                class="2xl:p-6 flex flex-col justify-center p-4 transition-transform duration-300 bg-white rounded-md shadow hover:-translate-y-1.5 hover:shadow-md">
                <h2 class="text-2xl font-semibold 2xl:text-3xl">
                    <span class="block font-medium text-primary">
                        20+
                    </span>
                    Sustainable Projects

                </h2>
                <p class="2xl:text-lg text-[#AEA9A9] mt-1 text-sm">

                    Shaping Tomorrow
                </p>
            </div>
            <div
                class="2xl:p-6 flex flex-col justify-center p-4 transition-transform duration-300 bg-white rounded-md shadow hover:-translate-y-1.5 hover:shadow-md">
                <h2 class="text-2xl font-semibold 2xl:text-3xl ">
                    <span class="block font-medium text-primary">
                        3+
                    </span>
                    Dynamic Business
                </h2>
                <p class="2xl:text-lg text-[#AEA9A9] mt-1 text-sm">
                    Units Driving Excellence

                </p>
            </div>
        </div>

    </section>


    <!-- Why TheGAW? -->
    <section class="container grid gap-8 p-8 mx-auto md:grid-cols-2 lg:p-20 place-items-center">
        <div class="md:pe-10">

            <h2 class="text-2xl font-semibold 2xl:text-5xl text-primary md:text-3xl">
                Why TheGAW?
            </h2>

            <p
                class="2xl:text-xl 2xl:[word-spacing:5px] 2xl:mt-6 mt-4 tracking-wide leading-9 [word-spacing:2px] text-[#5A5A5A] text-justify">
                At TheGAW, Ethics, Ownership and Integrity are at the epicenter of everything we do, from the simplest
                jobs
                to great achievements. We follow standards and procedures and question them when necessary, always in
                search of what is right and best for industry, for the customer and for all.
            </p>
        </div>


        <div class="space-y-4">
            <div
                class="flex gap-4 border-b-[1.5px] duration-300 border-black/40 py-4 px-4 group hover:-translate-y-1.5 hover:shadow-md px-2">
                <img class="transition-all duration-300 rounded-full size-16 group-hover:-translate-y-1 group-hover:shadow-md group-hover:scale-105"
                    src="assets/images/icons/pen.svg" alt="Design to Implementation">

                <div class="relative group">
                    <h3 class="font-medium text-primary w-fit 2xl:text-2xl">
                        Design to Implementation
                    </h3>
                    <span class="absolute left-0 w-10 h-0.5 bg-primary transition-all duration-300 group-hover:w-20">
                    </span>
                    <p class="mt-2 text-sm 2xl:mt-4 2xl:text-lg">
                        Tailored solutions that ensure designs align with unique Specificationss and industry standards.
                    </p>
                </div>

            </div>
            <div
                class="flex gap-4 border-b-[1.5px] duration-300 border-black/40 py-4 px-4 group hover:-translate-y-1.5 hover:shadow-md px-2">
                <img class="transition-all duration-300 rounded-full size-16 group-hover:-translate-y-1 group-hover:shadow-md group-hover:scale-105"
                    src="assets/images/icons/meet.svg" alt="Lifetime Commitment">

                <div class="relative group">

                    <h3 class="font-medium text-primary w-fit 2xl:text-2xl">
                        Lifetime Commitment
                    </h3>
                    <span class="absolute left-0 w-10 h-0.5 bg-primary transition-all duration-300 group-hover:w-20">
                    </span>
                    <p class="mt-2 text-sm 2xl:mt-4 2xl:text-lg">
                        Provide lifelong support and ensure lasting relationships long after project completion.
                    </p>
                </div>

            </div>
            <div
                class="flex gap-4 border-b-[1.5px] duration-300 border-black/40 py-4 px-4 group hover:-translate-y-1.5 hover:shadow-md px-2">
                <img class="transition-all duration-300 rounded-full size-16 group-hover:-translate-y-1 group-hover:shadow-md group-hover:scale-105"
                    src="assets/images/icons/globe.svg" alt="Global Network">

                <div class="relative group">

                    <h3 class="font-medium text-primary w-fit 2xl:text-2xl">
                        Global Network
                    </h3>
                    <span class="absolute left-0 w-10 h-0.5 bg-primary transition-all duration-300 group-hover:w-20">
                    </span>
                    <p class="mt-2 text-sm 2xl:mt-4 2xl:text-lg">
                        An expansive network that provides access to diverse solutions, ensuring complex challenges are
                        met with the most efficient and reliable options available.
                    </p>
                </div>

            </div>
            <div
                class="flex gap-4 border-b-[1.5px] duration-300 border-black/40 py-4 px-4 group hover:-translate-y-1.5 hover:shadow-md px-2">
                <img class="transition-all duration-300 rounded-full size-16 group-hover:-translate-y-1 group-hover:shadow-md group-hover:scale-105"
                    src="assets/images/icons/settings.svg" alt="Operational Excellence">

                <div class="relative group">

                    <h3 class="font-medium text-primary w-fit 2xl:text-2xl">
                        Operational Excellence
                    </h3>
                    <span class="absolute left-0 w-10 h-0.5 bg-primary transition-all duration-300 group-hover:w-20">
                    </span>
                    <p class="mt-2 text-sm 2xl:mt-4 2xl:text-lg">
                        Delivering superior results through optimized project execution and industry-leading practices.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="bg-[#F6F6F7] lg:p-20 p-8">
        <div class="container mx-auto">
            <h2 class="text-2xl font-semibold uppercase text-center 2xl:text-4xl 2xl:mb-6 text-primary md:text-3xl">
                Testimonials
            </h2>

            <div class="w-full mx-auto mt-4">
                <!-- Slider -->
                <div class="relative">
                    <div class="2xl:max-w-[90%] max-w-5xl mx-auto swiper testimonials">
                        <div class="swiper-wrapper">
                            <div
                                class="flex flex-col items-center p-3 text-center bg-white border border-gray-200 rounded-lg shadow-md swiper-slide">
                                <div class="h-64 text-base flex items-center justify-center">
                                    <div class="w-4/5 text-justify text-sm xl:text-base">
                                        TheGAW's product quality and their
                                        commitment to customer service have been
                                        stupendous. It's simply incomparable.
                                    </div>

                                </div>
                                <p class="mt-2 text-lg font-bold">Operations Manager</p>
                                <p class="text-sm text-gray-500">Saudi Aramco, KSA.</p>
                            </div>

                            <div
                                class="flex flex-col items-center p-3 text-center bg-white border border-gray-200 rounded-lg shadow-md swiper-slide">
                                <div class="h-64 text-base flex items-center justify-center">
                                    <div class="w-4/5 text-justify text-sm xl:text-base">
                                        They saved us and our shutdown timeline with a quick turnaround on producing and
                                        moving
                                        essential equipment across borders. The products are resilient, and the warranty
                                        extensions are
                                        excellent.
                                    </div>

                                </div>
                                <h3 class="mt-2 text-lg font-bold">Turn Around Manager</h3>
                                <p class="text-sm text-gray-500">Air Products, USA</p>
                            </div>

                            <div
                                class="flex flex-col items-center p-3 text-center bg-white border border-gray-200 rounded-lg shadow-md swiper-slide">
                                <div class="h-64 text-base flex items-center justify-center">
                                    <div class="w-4/5 text-justify text-sm xl:text-base">
                                        TheGAW's application engineering team is precise in attention to detail and
                                        committed to
                                        operational excellence. We enjoyed working with the wonderful teams in Abu Dhabi
                                        and
                                        Singapore for our revamping and plant transformation.
                                    </div>

                                </div>
                                <h3 class="mt-2 text-lg font-bold">Plant Manager</h3>
                                <p class="text-sm text-gray-500">Major OMC and Oil Terminal in Africa.</p>
                            </div>

                            <div
                                class="flex flex-col items-center p-3 text-center bg-white border border-gray-200 rounded-lg shadow-md swiper-slide">
                                <div class="h-64 text-base flex items-center justify-center">
                                    <div class="w-4/5 text-justify text-sm xl:text-base">
                                        TheGAW's Terminal and Fluid Transfer Solutions team has played a pivotal role in
                                        elevating the
                                        operational efficiency and capacity of our storage facilities. Their innovative
                                        solutions and
                                        unwavering support have been instrumental in achieving seamless integration.
                                    </div>

                                </div>
                                <h3 class="mt-2 text-lg font-bold">Project Manager</h3>
                                <p class="text-sm text-gray-500">Total Energies, Europe.</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <!-- Trusted By -->
    <section class="container p-8 mx-auto lg:p-20">
        <h2 class="mb-8 uppercase text-2xl font-semibold text-center 2xl:mb-12 2xl:text-4xl md:text-3xl">
            Trusted By
        </h2>
        <div class="grid grid-cols-2 gap-8 md:grid-cols-4 2xl:gap-10 place-items-center bg-white">

            <!-- Logo 1 -->
            <div class="relative flex items-center justify-center w-full h-20 group 2xl:h-16">
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/logo_totalenergies.png" alt="Total Energies">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/logo_totalenergies.png" alt="Total Energies"> -->
            </div>

            <!-- Logo 2 -->
            <div class="relative flex items-center justify-center w-[150px] h-20 group 2xl:h-16">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:opacity-0"
                    src="assets/images/Aramco 1.png" alt="Aramco"> -->
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/aramco.png" alt="Aramco">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/aramco.png" alt="Aramco"> -->
            </div>

            <!-- Logo 3 -->
            <div class="relative flex items-center justify-center w-full h-20 group 2xl:h-16">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:opacity-0"
                    src="assets/images/jigpc 1.png" alt="JIGPC"> -->
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/dolphin.png" alt="JIGPC">
            </div>

            <!-- Logo 4 -->
            <div class="relative flex items-center justify-center w-full h-20 group 2xl:h-16">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:opacity-0"
                    src="assets/images/Mubadala 1.png" alt="Mubadala"> -->
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/mubdala.png" alt="Mubadala">
            </div>

            <!-- Logo 5 -->
            <div class="relative flex items-center justify-center w-full h-20 group 2xl:h-16">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:opacity-0"
                    src="assets/images/amana 1.png" alt="Amana"> -->
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/amana.png" alt="Amana">
            </div>

            <!-- Logo 6 -->
            <div class="relative flex items-center justify-center w-full h-20 group 2xl:h-16">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:opacity-0"
                    src="assets/images/Jindal 1.png" alt="Jindal"> -->
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/jindal_color.png" alt="Jindal">
            </div>

            <!-- Logo 7 -->
            <div class="w-[150px] relative flex items-center justify-center h-20 group 2xl:h-16">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:opacity-0"
                    src="assets/images/air products 1.png" alt="Air Products"> -->
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/Air Products.png" alt="Air Products">
            </div>

            <!-- Logo 8 -->
            <div class="relative flex items-center justify-center w-full h-20 group 2xl:h-16">
                <!-- <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:opacity-0"
                    src="assets/images/altrad 1.png" alt="Altrad"> -->
                <img class="absolute object-contain h-full transition-opacity duration-500 opacity-100 group-hover:grayscale-0 grayscale"
                    src="assets/images/Altrad_72_RVB.png" alt="Altrad">
            </div>

        </div>
    </section>

    <!-- Custom Solutions -->
    <section class="bg-[#F6F6F7] lg:p-20 p-8">

        <div class="container grid items-center gap-8 mx-auto md:grid-cols-2">
            <div class="md:ps-10">
                <h2 class="text-xl font-semibold 2xl:text-2xl text-primary md:text-2xl">
                    Custom Solutions
                </h2>
                <img class="w-full h-auto mt-2 md:mt-4" src="assets/images/home_1.jpg" alt="Custom Solutions">
            </div>

            <div>
                <h2 class="mb-8 text-2xl font-semibold 2xl:text-4xl text-primary md:text-3xl">
                    Send Us a Challenge
                </h2>
                <a href="/contact" class="2xl:text-xl 2xl:py-3 2xl:px-6 border border-primary rounded-md py-2 px-4 text-primary hover:bg-primary hover:text-white transition-all duration-300 text-sm
                    mt-2">
                    Contact Us
                </a>
            </div>
        </div>

    </section>




<app-footer>

</app-footer>
