<app-header></app-header>

<header class="relative w-full h-[85vh] lg:h-screen overflow-hidden">
    <!-- Video Background -->
    <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full hidden md:block">
        <source src="assets/videos/Hero_section_Manufacturing.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full md:hidden">
        <source src="assets/videos/manufacturing_mob.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>





    <!-- navigation -->
    <div id="header">
    </div>
    <!-- hero section -->
    <!-- <section
            class="container mx-auto lg:p-20 p-8 min-h-[80vh] flex items-center relative z-20 text-white uppercase">

            <div>
                <h2 class="text-sm uppercase 2xl:text-xl text-white/70">
                    TheGAW Industries - Manufacturing
                </h2>

                <h1
                    class="mt-5 text-2xl font-medium tracking-wide uppercase md:text-4xl 2xl:text-5xl 2xl:font-semibold">
                    Durable and Efficient Products
                    <br class="hidden md:block">
                    with LifeTime Warranty
                </h1>

            </div>
        </section> -->
</header>

<!-- about -->
<section class="container p-8 mx-auto lg:px-20">
    <p class="mt-5 text-xl font-medium text-center uppercase md:text-2xl">Next-Gen Manufacturing</p>


    <p class="xl:text-lg text-sm mt-5 tracking-wide text-justify">
        At TheGAW Industries, we take pride in delivering highly efficient products
        designed to exceed your quality expectations. Committed to meeting your unique
        needs, we uphold the highest standards of quality in everything we do. From
        concept review to delivering the final product, TheGAW Industries serves as your
        complete manufacturing partner, specializing in custom solutions for all our product
        offerings.
    </p>

    <p class="xl:text-lg text-sm mt-5 tracking-wide text-justify">
        By embracing digital transformation and leveraging the advancements of the
        technology, we maximize the benefits of cutting-edge technology to deliver superior
        solutions. Our strategy is centred on offering the industry optimum solutions that a
        manufacturing company can provide, ensuring innovation, reliability, and efficiency.
        We understand your challenges and are dedicated to providing prompt support—
        ensuring that we are available to address your inquiries in real time.
    </p>


    <!-- <div class="max-w-3xl mx-auto">
            <h2 class="mt-10 text-2xl font-medium text-center md:text-3xl">
                Manufacturing Insights Across the Lifecycle
            </h2>
            <h2 class="mt-3 text-2xl text-center md:text-3xl">
                TheGAW provides tools and capabilities for

            </h2>
            <h2 class="mt-2 text-2xl italic font-medium tracking-tight text-center text-primary">
                Design, Manufacturing customize tools and
                equipment as per Operational Requirement
            </h2>
        </div> -->

</section>
<section class="mt-14 bg-primary">

    <div class="p-6 py-10 mx-auto container">
        <h2 class="text-2xl font-extrabold text-center text-white uppercase">
            For Operators, Service Providers, and Contractors to
        </h2>

        <!-- Main Grid -->
        <div class="grid gap-6 mt-10 md:grid-cols-4 md:gap-10">
            <div
                class="w-full px-6 py-8 text-sm font-medium text-center text-gray-800 bg-gradient-to-br from-white via-gray-100 to-gray-200 rounded-lg shadow-lg transform hover:scale-105 transition">
                <div class="flex items-center justify-center mb-4">
                    <img src="assets/images/icons/warning.png" class="h-12 2xl:h-16" alt="">
                </div>
                Eliminate Risk
            </div>

            <div
                class="w-full px-6 py-8 text-sm font-medium text-center text-gray-800 bg-gradient-to-br from-white via-gray-100 to-gray-200 rounded-lg shadow-lg transform hover:scale-105 transition">
                <div class="flex items-center justify-center mb-4">
                    <img src="assets/images/icons/production.png" class="h-12 2xl:h-16" alt="">
                </div>
                Custom-Built Fleet
            </div>

            <div
                class="w-full px-6 py-8 text-sm font-medium text-center text-gray-800 bg-gradient-to-br from-white via-gray-100 to-gray-200 rounded-lg shadow-lg transform hover:scale-105 transition">
                <div class="flex items-center justify-center mb-4">
                    <img src="assets/images/icons/plant.png" class="h-12 2xl:h-16" alt="">
                </div>
                Customize Concept to Production
            </div>

            <div
                class="w-full px-6 py-8 text-sm font-medium text-center text-gray-800 bg-gradient-to-br from-white via-gray-100 to-gray-200 rounded-lg shadow-lg transform hover:scale-105 transition">
                <div class="flex items-center justify-center mb-4">
                    <img src="assets/images/icons/iteration.png" class="h-12 2xl:h-16" alt="">
                </div>
                Faster Processing Time
            </div>
        </div>

        <!-- Secondary Grid -->
        <div class="grid max-w-4xl gap-6 mx-auto mt-8 md:grid-cols-2 md:gap-10">
            <div
                class="w-full px-6 py-8 text-sm font-medium text-center text-gray-800 bg-gradient-to-br from-white via-gray-100 to-gray-200 rounded-lg shadow-lg transform hover:scale-105 transition">
                <div class="flex items-center justify-center mb-4">
                    <img src="assets/images/icons/shield.png" class="h-12 2xl:h-16" alt="">
                </div>
                Ensure Optimum Safety
            </div>

            <div
                class="w-full px-6 py-8 text-sm font-medium text-center text-gray-800 bg-gradient-to-br from-white via-gray-100 to-gray-200 rounded-lg shadow-lg transform hover:scale-105 transition">
                <div class="flex items-center justify-center mb-4">
                    <img src="assets/images/icons/graphene.png" class="h-12 2xl:h-16" alt="">
                </div>
                Lower Carbon Footprints
            </div>
        </div>
    </div>

</section>

<section class="container p-10 py-5 mx-auto mt-16">
    <div class="max-w-3xl mx-auto mb-6">

        <!-- <p class="text-center text-[#5A5A5A]">
                UNLEASH THE POWER OF TheGAW

            </p> -->
        <h2 class="mt-5 text-2xl font-medium text-center uppercase md:text-3xl">
            Achieve Your ROI Goals
        </h2>
    </div>

    <!-- <div class="mt-4">
            <h2 class="text-xl font-medium">
                Applications
            </h2>
            <p class="text-[#5A5A5A] mt-2">
                As we operate all the critical assets, <span class="text-primary">TheGAW MFG</span> is your tool
                and equipment manufacturing
                platform for all types of applications.
            </p>
        </div> -->

    <div class="w-full flex">
        <img class="rounded-md" src="assets/images/manufacturing_image.jpg" alt="">
    </div>


    <!-- <div class="grid gap-8 mt-10 md:grid-cols-2 lg:grid-cols-3">
            <div class="relative group">
                <img src="assets/images/gallery1.png" alt="Efficient Automation"
                    class="object-cover w-full h-auto aspect-square rounded-3xl" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-center transition-opacity duration-300 bg-black opacity-0 bg-opacity-60 group-hover:opacity-100">
                    <span class="text-xl font-semibold text-white md:text-2xl">Efficient Automation</span>
                </div>
            </div>

            <div class="relative group">
                <img src="assets/images/gallery2.png" alt="Precision Engineering"
                    class="object-cover w-full h-auto aspect-square rounded-3xl" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-center transition-opacity duration-300 bg-black opacity-0 bg-opacity-60 group-hover:opacity-100">
                    <span class="text-xl font-semibold text-white md:text-2xl">Precision Engineering</span>
                </div>
            </div>




            <div class="relative group">
                <img src="assets/images/gallery4.png" alt="Innovative Solutions"
                    class="object-cover w-full h-auto aspect-square rounded-3xl" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-center transition-opacity duration-300 bg-black opacity-0 bg-opacity-60 group-hover:opacity-100">
                    <span class="text-xl font-semibold text-white md:text-2xl">Innovative Solutions</span>
                </div>
            </div>



            <div class="relative group">
                <img src="assets/images/gallery6.png" alt="Streamlined Operations"
                    class="object-cover w-full h-auto aspect-square rounded-3xl" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-center transition-opacity duration-300 bg-black opacity-0 bg-opacity-60 group-hover:opacity-100">
                    <span class="text-xl font-semibold text-white md:text-2xl">Streamlined Operations</span>
                </div>
            </div>
            <div class="relative group">
                <img src="assets/images/gallery3.png" alt="Dynamic Manufacturing"
                    class="object-cover w-full h-auto aspect-square rounded-3xl" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-center transition-opacity duration-300 bg-black opacity-0 bg-opacity-60 group-hover:opacity-100">
                    <span class="text-xl font-semibold text-white md:text-2xl">Dynamic Manufacturing</span>
                </div>
            </div>

            <div class="relative group">
                <img src="assets/images/gallery5.png" alt="Industrial Excellence"
                    class="object-cover w-full h-auto aspect-square rounded-3xl" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-center transition-opacity duration-300 bg-black opacity-0 bg-opacity-60 group-hover:opacity-100">
                    <span class="text-xl font-semibold text-white md:text-2xl">Industrial Excellence</span>
                </div>
            </div>

        </div> -->



</section>

<section class="container p-10 py-5 mx-auto mt-16">

    <h2 class="mt-5 text-2xl font-medium text-center uppercase md:text-3xl">
        How to collaborate with us?
    </h2>
    <div id="timeline" class="flex flex-col grid-cols-9 p-2 mx-auto md:grid">
        <!-- Timeline Item 1 -->
        <div class="flex flex-row-reverse md:contents">
            <div id="item-1"
                class="hover:-translate-y-1.5 hover:shadow-md relative md:p-10 p-8 my-6 bg-[#EBF1FF] rounded-xl col-start-1 col-end-5 mr-auto md:mr-0 md:ml-auto max-w-lg timeline-item">
                <h3 class="text-xl font-medium text-center uppercase lg:text-2xl">Start</h3>
                <p class="mt-2 text-sm leading-6 text-center xl:text-lg text-black/70">
                    Understanding the application requirement and starting with Pilot projects to demonstrate our
                    QMS, process and product efficiency for your operational and budget targets.
                </p>
            </div>
            <div class="relative col-start-5 col-end-6 transition-all duration-300 mr-7 md:mx-auto">
                <div class="flex items-end justify-center w-6 h-full">
                    <div class="w-1 transition-all duration-300 rounded-t-full bar h-1/2 bg-primary"></div>
                </div>
                <div
                    class="absolute w-6 h-6 -mt-3 scale-125 border-4 border-white rounded-full bg-primary top-1/2 circle">
                </div>
            </div>
        </div>

        <!-- Timeline Item 2 -->
        <div class="flex md:contents">
            <div class="relative col-start-5 col-end-6 transition-all duration-300 mr-7 md:mx-auto">
                <div class="flex items-center justify-center w-6 h-full">
                    <div class="w-1 h-full transition-all duration-300 bar bg-primary"></div>
                </div>
                <div
                    class="absolute w-6 h-6 -mt-3 scale-125 border-4 border-white rounded-full bg-primary top-1/2 circle">
                </div>
            </div>
            <div id="item-2"
                class="hover:-translate-y-1.5 hover:shadow-md relative md:p-10 p-8 my-6  bg-[#EBF1FF] rounded-xl col-start-6 col-end-10 mr-auto max-w-lg timeline-item">
                <h3 class="text-xl font-medium text-center uppercase lg:text-2xl">Strategize</h3>
                <p class="mt-2 text-sm leading-6 text-center text-black/70 xl:text-lg">
                    MOU and contract for manufacturing tools and equipment.
                </p>
            </div>
        </div>

        <!-- Timeline Item 3 -->
        <div class="flex flex-row-reverse md:contents">
            <div id="item-3"
                class="hover:-translate-y-1.5 hover:shadow-md relative md:p-10 p-8 my-6  bg-[#EBF1FF] rounded-xl col-start-1 col-end-5 mr-auto md:mr-0 md:ml-auto max-w-lg timeline-item">
                <h3 class="text-xl font-medium text-center uppercase lg:text-2xl">Scale</h3>
                <p class="mt-2 text-sm leading-6 text-center text-black/70 xl:text-lg">
                    Booking capacity and production system
                    implementation
                </p>
            </div>
            <div class="relative col-start-5 col-end-6 transition-all duration-300 mr-7 md:mx-auto">
                <div class="flex items-center justify-center w-6 h-1/2">
                    <div class="w-1 h-full transition-all duration-300 rounded-t-full bar bg-primary"></div>
                </div>
                <div
                    class="absolute w-6 h-6 -mt-3 scale-125 border-4 border-white rounded-full bg-primary top-1/2 circle">
                </div>
            </div>
        </div>
    </div>



</section>



<section class="container p-8 mx-auto lg:px-20 ">
    <div class="max-w-xl mx-auto ">
        <!-- <h2 class="text-center text-[#5A5A5A]">
                SEE TheGAW IN ACTION
            </h2> -->

        <h3 class="mt-4 text-xl font-semibold text-center uppercase md:text-2xl">
            Schedule a
            demo
        </h3>

        <p class="mt-4 text-center text-[#5A5A5A] text-sm xl:text-lg 2xl:text-xl">
            Ready to see TheGAW in action? Request a demo and our team will guide you
            through the features and benefits of our platform that will start you on the path to
            new levels of efficiency, safety, and performance
        </p>

    </div>

    <form id="manufacturingForm"
        class="bg-[#EBF1FF] mt-16  rounded-lg md:p-10 p-5 max-w-4xl mx-auto md:grid md:grid-cols-3 gap-5 grid-cols-1 flex flex-col" [formGroup]="cvForm" (ngSubmit)="onSubmit()">
        <div class="w-full md:col-span-1">
            <!-- First Name Field -->
            <label class="text-sm text-black xl:text-base">First Name <span class="text-red-500">*</span></label>
            <input formControlName="firstName" type="text" id="firstName" placeholder="First Name"
                class="{{cvForm.get('firstName')?.invalid && cvForm.get('firstName')?.touched ? 'border-red-500 border-2' : ''}} w-full h-10 px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40" required>
        </div>

        <div class="w-full md:col-span-1">
            <!-- Last Name Field -->
            <label class="text-sm text-black xl:text-base">Last Name <span class="text-red-500">*</span></label>
            <input formControlName="lastName" type="text" id="lastName" placeholder="Last Name"
                class="{{cvForm.get('lastName')?.invalid && cvForm.get('lastName')?.touched ? 'border-red-500 border-2' : ''}} w-full h-10 px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40 required"
                required>
        </div>

        <div class="w-full md:col-span-1">
            <!-- Job Title Field -->
            <label class="text-sm text-black xl:text-base">Job Title <span class="text-red-500">*</span></label>
            <input formControlName="jobTitle" type="text" id="jobRole" placeholder="Job Title"
                class="{{cvForm.get('jobTitle')?.invalid && cvForm.get('jobTitle')?.touched ? 'border-red-500 border-2' : ''}} w-full h-10 px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40 required"
                required>
        </div>

        <div class="w-full md:col-span-1">
            <!-- Email Field -->
            <label class="text-sm text-black xl:text-base">Email <span class="text-red-500">*</span></label>
            <input formControlName="email" type="email" id="email" placeholder="Email"
                class="{{cvForm.get('email')?.invalid && cvForm.get('email')?.touched ? 'border-red-500 border-2' : ''}} w-full h-10 px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40 required"
                required>
        </div>

        <div class="w-full col-span-2">
            <!-- Interested In Field (Select) -->
            <label class="text-sm text-black xl:text-base">Interested In <span class="text-red-500">*</span></label>
            <select formControlName="interestedIn" placeholder="Interested In" id="interestedIn"
                class="{{cvForm.get('interestedIn')?.invalid && cvForm.get('interestedIn')?.touched ? 'border-red-500 border-2' : ''}} w-full h-10 px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40" required>
                <option value="" disabled selected>Please Select</option>
                <option value="option1">Semi Finished Products</option>
                <option value="option2">Finished Components</option>
                <option value="option3">Engineering and Material Processing</option>
            </select>
        </div>

        <div class="w-full md:col-span-1">
            <!-- Company Name Field -->
            <label class="text-sm text-black xl:text-base">Company Name <span class="text-red-500">*</span></label>
            <input formControlName="companyName" type="text" id="companyName" placeholder="Company Name"
                class="{{cvForm.get('companyName')?.invalid && cvForm.get('companyName')?.touched ? 'border-red-500 border-2' : ''}} w-full h-10 px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40 required"
                required>
        </div>

        <div class="w-full md:col-span-1">
            <!-- Phone Number Field -->
            <label class="text-sm text-black xl:text-base">Phone Number <span class="text-red-500">*</span></label>
            <input formControlName="phoneNumber" type="tel" id="phoneNumber" placeholder="Phone Number" maxlength="10"
                class="{{cvForm.get('phoneNumber')?.invalid && cvForm.get('phoneNumber')?.touched ? 'border-red-500 border-2' : ''}} w-full px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40 required" required>
        </div>

        <div class="w-full md:col-span-1">
            <!-- Country/Region Field -->
            <label class="text-sm text-black xl:text-base">Country/Region <span class="text-red-500">*</span></label>
            <input formControlName="countryName" type="text" id="countryName" placeholder="Country/Region"
                class="{{cvForm.get('countryName')?.invalid && cvForm.get('countryName')?.touched ? 'border-red-500 border-2' : ''}} w-full h-10 px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40 required"
                required>
        </div>
        <div class="w-full md:col-span-3">
            <!-- Country/Region Field -->
            <label class="text-sm text-black xl:text-base">Message</label>
            <textarea    placeholder="Message" id="message"
                class="{{cvForm.get('message')?.invalid && cvForm.get('message')?.touched ? 'border-red-500 border-2' : ''}} w-full px-3 py-2 mt-2 border border-black border-solid rounded-md bg-white/40" rows="3"
                required></textarea>
        </div>

        <div class="col-span-3">
            <p class="text-justify text-justify text-xs text-[#5A5A5A] xl:text-lg xl:text-lg">
                TheGAW is committed to protecting and respecting your privacy, and we’ll only use your personal
                information
                to administer your
                account and to provide the products and services you requested from us. From time to time, we would
                like to
                contact you about our
                products and services, as well as other content that may be of interest to you. If you consent to us
                contacting
                you for this purpose, please
                tick below to say how you would like us to contact you :
            </p>
            <label class="flex items-center mt-2">
                <input formControlName="acceptTerms" type="checkbox" id="acceptTerms" class="h-16 accent-white/70 me-3 required">
                <p class="text-justify text-xs text-[#5A5A5A] xl:text-base">I agree to receive all communications
                    from TheGAW.</p>
            </label>
            <p class="text-justify text-xs text-[#5A5A5A] xl:text-lg mt-2">
                You can unsubscribe from these communications at any time. For more information on how to
                unsubscribe, our
                privacy practices, and
                how we are committed to protecting and respecting your privacy, please review our Privacy Policy.
            </p>
            <p class="text-justify text-xs text-[#5A5A5A] xl:text-lg mt-4">
                By clicking submit below, you consent to allow TheGAW to store and process the personal
                information
                submitted
                above to provide you
                the content requested.
            </p>

            <button type="submit"
                class="group rounded-md bg-primary text-white flex items-center uppercase mt-5 justify-between transition-all duration-300 hover:bg-[#666]">

                <span class="flex items-center justify-center px-5 py-2 overflow-hidden text-sm font-medium xl:text-lg">
                    SUBMIT
                </span>

                <!-- Loading Icon (Hidden by Default) -->
                <img id="loadingIcon" src="./assets/images/icons/loading.png"
                    class="hidden size-5 mx-2 animate-spin left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-spin"
                    alt="Loading...">

                <div class="bg-primary_dark group-hover:bg-[#000] h-full py-2 px-2 w-fit rounded-e-md">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </div>

            </button>

        </div>

    </form>
</section>


<app-footer></app-footer>